Repository hashicorp/go-azure-sdk, pull requests merged in 2023-07, with the labels that each got.

#501 Bugfix: handle errors where the `details` field is returned as an object instead of an array of objects
  sdk/odata/errors.go
  sdk/odata/odata_test.go
Labels: bug, release-once-merged

#532 base client: align msgraph instantiator func with resourcemanager
  sdk/client/msgraph/client.go
  sdk/client/msgraph/client_test.go
Labels: base-layer

#535 Auto PR: Regenerating the Go SDK (d245174f2e51d8b1d5d1e36c62922daebde18a30)
  resource-manager/datafactory/2018-06-01/factories/constants.go
  resource-manager/datafactory/2018-06-01/factories/model_factory.go
  resource-manager/datafactory/2018-06-01/factories/model_factoryidentity.go
  resource-manager/datafactory/2018-06-01/factories/model_factoryupdateparameters.go
Labels: release-once-merged

#537 Auto PR: Regenerating the Go SDK (ac800f566d34827032e9e6a9fa73d29f7f461ac7)
  resource-manager/batch/2023-05-01/batchaccount/model_autostoragebaseproperties.go
  resource-manager/subscription/2021-10-01/subscriptions/README.md
  resource-manager/subscription/2021-10-01/subscriptions/id_subscriptionoperation.go
  resource-manager/subscription/2021-10-01/subscriptions/id_subscriptionoperation_test.go
  resource-manager/subscription/2021-10-01/subscriptions/method_subscriptionoperationget_autorest.go
  resource-manager/subscription/2021-10-01/subscriptions/model_subscriptioncreationresult.go
Labels: release-once-merged

#539 Auto PR: Regenerating the Go SDK (c3043cb522a1834a309c91c3e27c0b657d72b605)
  resource-manager/consumption/2022-09-01/pricesheet/model_pricesheetproperties.go
  resource-manager/consumption/2022-09-01/pricesheet/model_savingsplan.go
  resource-manager/consumption/2023-05-01/pricesheet/model_pricesheetproperties.go
  resource-manager/consumption/2023-05-01/pricesheet/model_savingsplan.go
Labels: release-once-merged

#553 sdk: skip unmarshalling for empty content type and 0 content length
  sdk/client/client.go
Labels: bug, base-layer

#550 Environments: add Available() method for APIs
  sdk/environments/environment.go
  sdk/environments/interfaces.go
Labels: enhancement, release-once-merged, base-layer

#562 Auto PR: Regenerating the Go SDK (2861e26c8072db57a40efc1b749c57b597181857)
  resource-manager/costmanagement/2023-03-01/benefitutilizationsummariesasync/README.md
  resource-manager/costmanagement/2023-03-01/benefitutilizationsummariesasync/method_generatebenefitutilizationsummariesreportgeneratebysavingsplanid.go
Labels: release-once-merged

#568 sdk/client/dataplane/storage: updating the storage base client to take the baseUri rather than computing it
  sdk/client/dataplane/storage/client.go
Labels: release-once-merged

#575 LRO poller: Adding more un-documented pending `status` for storage sync
  sdk/client/resourcemanager/poller_lro.go
Labels: base-layer/polling

#578 resourcemanager/poller: supporting `AnalysisServices`
  sdk/client/resourcemanager/poller_lro.go
Labels: base-layer/polling

#579 Auto PR: Regenerating the Go SDK (8e16c7008d093cdedaed0c4fef7cc80f91169fcd)
  resource-manager/network/2023-04-01/applicationgateways/model_applicationgatewayfrontendipconfigurationpropertiesformat.go
  resource-manager/network/2023-04-01/webapplicationfirewallpolicies/model_applicationgatewayfrontendipconfigurationpropertiesformat.go
Labels: release-once-merged
