Repository hashicorp/go-azure-sdk, pull requests merged in 2023-04, with the labels that each got.

#402 base-layer: add `Creating` as a valid status for LRO Poller
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#413 Auto PR: Regenerating the Go SDK (094c8b6981e4fc9468e81b67249fdcf0dccdeaff)
  resource-manager/costmanagement/2022-10-01/costdetails/model_errordetails.go
  resource-manager/costmanagement/2022-10-01/exports/model_errordetails.go
  resource-manager/mysql/2021-12-01-preview/configurations/README.md
  resource-manager/mysql/2021-12-01-preview/configurations/method_createorupdate_autorest.go
  resource-manager/mysql/2021-12-01-preview/configurations/model_configurationproperties.go
Labels: release-once-merged

#415 Bugfix: save the expiry time for access tokens from Azure CLI
  sdk/auth/azure_cli_authorizer.go
  sdk/auth/client_secret_authorizer_test.go
Labels: bug, release-once-merged, base-layer

#417 Add support for Delta Token
  sdk/odata/query.go
  sdk/odata/query_test.go
Labels: enhancement, base-layer

#425 Ensure POST with not req body also defined the header `Content-Length`
  sdk/client/client.go
Labels: base-layer

#420 Remove the `ErrorHandler` for the per-request retryable client
  sdk/client/client.go
Labels: bug, base-layer

#426 Auto PR: Regenerating the Go SDK (8ebb6e1dfe5afee1d43df92966b28cd849e13eb6)
  resource-manager/marketplaceordering/2015-06-01/agreements/README.md
  resource-manager/marketplaceordering/2015-06-01/agreements/client.go
  resource-manager/marketplaceordering/2015-06-01/agreements/constants.go
  resource-manager/marketplaceordering/2015-06-01/agreements/id_offerplan.go
  resource-manager/marketplaceordering/2015-06-01/agreements/id_offerplan_test.go
  resource-manager/marketplaceordering/2015-06-01/agreements/id_plan.go
  resource-manager/marketplaceordering/2015-06-01/agreements/id_plan_test.go
  resource-manager/marketplaceordering/2015-06-01/agreements/method_marketplaceagreementscancel.go
  resource-manager/marketplaceordering/2015-06-01/agreements/method_marketplaceagreementscreate.go
  resource-manager/marketplaceordering/2015-06-01/agreements/method_marketplaceagreementsget.go
  resource-manager/marketplaceordering/2015-06-01/agreements/method_marketplaceagreementsgetagreement.go
  resource-manager/marketplaceordering/2015-06-01/agreements/method_marketplaceagreementslist.go
  resource-manager/marketplaceordering/2015-06-01/agreements/method_marketplaceagreementssign.go
  resource-manager/marketplaceordering/2015-06-01/agreements/model_agreementproperties.go
  resource-manager/marketplaceordering/2015-06-01/agreements/model_agreementterms.go
  resource-manager/marketplaceordering/2015-06-01/agreements/model_agreementtermslist.go
  resource-manager/marketplaceordering/2015-06-01/agreements/model_oldagreementproperties.go
  resource-manager/marketplaceordering/2015-06-01/agreements/model_oldagreementterms.go
  resource-manager/marketplaceordering/2015-06-01/agreements/version.go
  resource-manager/marketplaceordering/2015-06-01/client.go
  resource-manager/marketplaceordering/2021-01-01/agreements/README.md
  resource-manager/marketplaceordering/2021-01-01/agreements/client.go
  resource-manager/marketplaceordering/2021-01-01/agreements/constants.go
  resource-manager/marketplaceordering/2021-01-01/agreements/id_offerplan.go
  resource-manager/marketplaceordering/2021-01-01/agreements/id_offerplan_test.go
  resource-manager/marketplaceordering/2021-01-01/agreements/id_plan.go
  resource-manager/marketplaceordering/2021-01-01/agreements/id_plan_test.go
  resource-manager/marketplaceordering/2021-01-01/agreements/method_marketplaceagreementscancel.go
  resource-manager/marketplaceordering/2021-01-01/agreements/method_marketplaceagreementscreate.go
  resource-manager/marketplaceordering/2021-01-01/agreements/method_marketplaceagreementsget.go
  resource-manager/marketplaceordering/2021-01-01/agreements/method_marketplaceagreementsgetagreement.go
  resource-manager/marketplaceordering/2021-01-01/agreements/method_marketplaceagreementslist.go
  resource-manager/marketplaceordering/2021-01-01/agreements/method_marketplaceagreementssign.go
  resource-manager/marketplaceordering/2021-01-01/agreements/model_agreementproperties.go
  resource-manager/marketplaceordering/2021-01-01/agreements/model_agreementterms.go
  resource-manager/marketplaceordering/2021-01-01/agreements/model_oldagreementproperties.go
  resource-manager/marketplaceordering/2021-01-01/agreements/model_oldagreementterms.go
  resource-manager/marketplaceordering/2021-01-01/agreements/model_oldagreementtermslist.go
  resource-manager/marketplaceordering/2021-01-01/agreements/version.go
  resource-manager/marketplaceordering/2021-01-01/client.go
Labels: release-once-merged

#434 Bugfix: configure AuxTenantIds for AzureCliAuthorizer
  sdk/auth/auth.go
  sdk/auth/auth_test.go
  sdk/auth/azure_cli_authorizer.go
  sdk/auth/azure_cli_authorizer_test.go
  sdk/auth/cached_authorizer.go
  sdk/auth/client.go
  sdk/auth/client_certificate_authorizer_test.go
  sdk/auth/client_credentials.go
  sdk/auth/client_secret_authorizer.go
  sdk/auth/client_secret_authorizer_test.go
  sdk/auth/config.go
  sdk/auth/github_oidc_authorizer.go
  sdk/auth/github_oidc_authorizer_test.go
  sdk/auth/interface.go
  sdk/auth/managed_identity_authorizer.go
  sdk/auth/managed_identity_authorizer_test.go
  sdk/auth/oidc_authorizer_test.go
  sdk/claims/claims.go
  sdk/claims/claims_test.go
  sdk/environments/from_endpoint.go
  sdk/environments/from_name.go
  sdk/internal/accept/accept.go
  sdk/internal/azurecli/azcli.go
  sdk/internal/metadata/client.go
  sdk/internal/test/constants.go
  sdk/internal/test/environment_variables.go
  sdk/internal/test/msi_stub.go
  sdk/internal/test/token_mock.go
  sdk/odata/errors.go
  sdk/odata/http.go
  sdk/odata/odata.go
  sdk/odata/odata_test.go
  sdk/odata/query.go
  sdk/odata/query_test.go
  sdk/odata/types.go
Labels: bug, release-once-merged, base-layer
