Repository hashicorp/go-azure-sdk, pull requests merged in 2023-11, with the labels that each got.

#712 Auto PR: Regenerating the Go SDK (1811e21d4d48299e3bfcea513b6362819d7af2cf)
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azurefileshareprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azureiaasclassiccomputevmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azureiaascomputevmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azureiaasvmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azuresqlprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azurevmworkloadprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azurevmworkloadsapasedatabaseprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azurevmworkloadsaphanadatabaseprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azurevmworkloadsaphanadbinstanceprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_azurevmworkloadsqldatabaseprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_dpmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_genericprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupprotecteditems/model_mabfilefolderprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azurefileshareprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azureiaasclassiccomputevmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azureiaascomputevmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azureiaasvmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azuresqlprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azurevmworkloadprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azurevmworkloadsapasedatabaseprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azurevmworkloadsaphanadatabaseprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azurevmworkloadsaphanadbinstanceprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_azurevmworkloadsqldatabaseprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_dpmprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_genericprotecteditem.go
  resource-manager/recoveryservicesbackup/2023-04-01/protecteditems/model_mabfilefolderprotecteditem.go
  resource-manager/redisenterprise/2023-10-01-preview/client.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/README.md
  resource-manager/redisenterprise/2023-10-01-preview/sku/client.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/constants.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/id_location.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/id_location_test.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/method_list.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/model_capability.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/model_locationinfo.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/model_regionskudetail.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/model_regionskudetails.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/model_skudetail.go
  resource-manager/redisenterprise/2023-10-01-preview/sku/version.go
Labels: release-once-merged

#714 Auto PR: Regenerating the Go SDK (c626a84429172371fcafd8e8008aaeadab4af007)
  resource-manager/chaosstudio/2023-11-01/asyncoperations/model_errorresponse.go
  resource-manager/chaosstudio/2023-11-01/asyncoperations/model_operationstatus.go
  resource-manager/machinelearningservices/2023-10-01/workspaces/model_workspace.go
  resource-manager/machinelearningservices/2023-10-01/workspaces/predicates.go
  resource-manager/servicefabric/2021-06-01/application/README.md
  resource-manager/servicefabric/2021-06-01/application/method_list_autorest.go
  resource-manager/servicefabric/2021-06-01/application/model_applicationresourcelist.go
  resource-manager/servicefabric/2021-06-01/application/predicates.go
  resource-manager/servicefabric/2021-06-01/applicationtype/README.md
  resource-manager/servicefabric/2021-06-01/applicationtype/method_list_autorest.go
  resource-manager/servicefabric/2021-06-01/applicationtype/model_applicationtyperesourcelist.go
  resource-manager/servicefabric/2021-06-01/applicationtype/predicates.go
  resource-manager/servicefabric/2021-06-01/applicationtypeversion/README.md
  resource-manager/servicefabric/2021-06-01/applicationtypeversion/method_list_autorest.go
  resource-manager/servicefabric/2021-06-01/applicationtypeversion/model_applicationtypeversionresourcelist.go
  resource-manager/servicefabric/2021-06-01/applicationtypeversion/predicates.go
  resource-manager/servicefabric/2021-06-01/cluster/README.md
  resource-manager/servicefabric/2021-06-01/cluster/method_list_autorest.go
  resource-manager/servicefabric/2021-06-01/cluster/method_listbyresourcegroup_autorest.go
  resource-manager/servicefabric/2021-06-01/cluster/model_clusterlistresult.go
  resource-manager/servicefabric/2021-06-01/cluster/predicates.go
  resource-manager/servicefabric/2021-06-01/service/README.md
  resource-manager/servicefabric/2021-06-01/service/method_list_autorest.go
  resource-manager/servicefabric/2021-06-01/service/model_serviceresourcelist.go
  resource-manager/servicefabric/2021-06-01/service/predicates.go
Labels: release-once-merged

#717 dependencies: updating to `v0.63.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
Labels: dependencies

#722 scripts: making the git config global
  scripts/update-azurerm-provider.sh
Labels: release-once-merged, update-azurerm-after-release

#723 automation: setting the env vars needed for `update-go-azure-sdk`
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#724 automation: base64encoding/decoding the pr description
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#725 automation: wrapping the description as a multi-line string
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#726 automation: bugfixes to multiline input
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#727 automation: outputting the values via a bash script
  .github/workflows/automation-release.yaml
  scripts/output-pr-description-for-gha.sh
Labels: release-once-merged, update-azurerm-after-release

#728 automation: combining the release and comment steps into one
  .github/workflows/automation-release.yaml
  scripts/output-pr-description-for-gha.sh
Labels: release-once-merged, update-azurerm-after-release

#729 automation: updating the command used to identify the PR Number
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#730 automation: updating the env var name
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#732 automation: retrying when getting the PR number from Github
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#733 automation: updating the polling interval
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#734 automation: conditionally pushing the branch/polling for the PR/posting a comment only when changes exist
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#742 Auto PR: Regenerating the Go SDK (d7751abf0a058189ea90226f585ae6dfe3e5707c)
  resource-manager/redis/2023-08-01/redis/model_rediscommonpropertiesredisconfiguration.go
Labels: release-once-merged, update-azurerm-after-release

#745 automation: updating the check to use a boolean rather than stringified value
  .github/workflows/automation-release.yaml
Labels: tooling

#746 Auto PR: Regenerating the Go SDK (1f0156ba2bfe3a4b3b79dedb924ecdfeacdcd056)
  resource-manager/automation/2023-11-01/client.go
  resource-manager/automation/2023-11-01/hybridrunbookworkergroup/README.md
  resource-manager/automation/2023-11-01/hybridrunbookworkergroup/method_delete.go
  resource-manager/automation/2023-11-01/listallhybridrunbookworkergroupinautomationaccount/client.go
  resource-manager/automation/2023-11-01/listallhybridrunbookworkergroupinautomationaccount/id_hybridrunbookworkergroup.go
  resource-manager/automation/2023-11-01/listallhybridrunbookworkergroupinautomationaccount/id_hybridrunbookworkergroup_test.go
  resource-manager/automation/2023-11-01/listallhybridrunbookworkergroupinautomationaccount/version.go
  resource-manager/automation/2023-11-01/python3package/README.md
  resource-manager/automation/2023-11-01/python3package/method_createorupdate.go
Labels: release-once-merged

#749 Auto PR: Regenerating the Go SDK (cce917901cf59e95f66f2ced5379f726d0b0dc2d)
  resource-manager/hdinsight/2018-06-01-preview/clusters/constants.go
  resource-manager/hdinsight/2018-06-01-preview/clusters/model_clusterdefinition.go
  resource-manager/hdinsight/2021-06-01/clusters/constants.go
  resource-manager/hdinsight/2021-06-01/clusters/model_clusterdefinition.go
Labels: release-once-merged, update-azurerm-after-release

#750 dependencies: updating to `v0.64.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
Labels: release-once-merged
