Repository hashicorp/go-azure-sdk, pull requests merged in 2023-08, with the labels that each got.

#583 sdk/client/resourcemanager: support for LROs which also return immediately
  sdk/client/resourcemanager/poller_provisioning_state.go
Labels: base-layer/polling

#584 client/resourcemanager: handling Automation@2022-08-08 returning a 200 OK with no content
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged, base-layer/polling

#586 sdk/client/resourcemanager: parsing the error types returned from the PaloAlto API's
  sdk/client/resourcemanager/errors.go
  sdk/client/resourcemanager/errors_test.go
Labels: base-layer/errors

#585 sdk/client: fixing an issue when parsing the OData from the API Response
  sdk/client/client.go
  sdk/client/resourcemanager/poller_delete.go
Labels: release-once-merged, base-layer/polling

#588 Auto PR: Regenerating the Go SDK (e21bc8b12e48b81486e3bce82f66b551bf7c122d)
  resource-manager/authorization/2020-10-01/rolemanagementpolicies/README.md
  resource-manager/authorization/2020-10-01/rolemanagementpolicies/method_listforscope.go
Labels: release-once-merged

#589 Auto PR: Regenerating the Go SDK (b4cc01a153cd49877679b70b95a9391c82ce0bb9)
  resource-manager/storagecache/2023-05-01/amlfilesystems/constants.go
  resource-manager/storagecache/2023-05-01/amlfilesystems/model_amlfilesystem.go
  resource-manager/storagecache/2023-05-01/amlfilesystems/model_amlfilesystemidentity.go
  resource-manager/storagecache/2023-05-01/amlfilesystems/model_userassignedidentitiesproperties.go
Labels: release-once-merged

#590 client/resourcemanager: handling self-referenced LROs
  sdk/client/resourcemanager/poller.go
  sdk/client/resourcemanager/poller_test.go
Labels: release-once-merged, base-layer/polling

#594 Environments: consider an API available if it has an endpoint or a resourceIdentifier
  sdk/environments/environment.go
Labels: bug, release-once-merged, base-layer

#598 Auto PR: Regenerating the Go SDK (4e5d47d08e9c0ee4983b9ea96429c2354d891421)
  resource-manager/machinelearningservices/2023-04-01/registrymanagement/method_registriescreateorupdate.go
Labels: release-once-merged

#597 sdk/client/resourcemanager: supporting 202's with a self reference
  sdk/client/resourcemanager/poller.go
  sdk/client/resourcemanager/poller_provisioning_state.go
  sdk/client/resourcemanager/poller_test.go
Labels: release-once-merged, base-layer/polling

#600 poller_lro: Adding more intermediate state for storage sync
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#599 Auto PR: Regenerating the Go SDK (c71305d4dbb3c68011abc1f13c8159e0276f8698)
  resource-manager/maps/2023-06-01/accounts/README.md
  resource-manager/maps/2023-06-01/accounts/client.go
  resource-manager/maps/2023-06-01/accounts/constants.go
  resource-manager/maps/2023-06-01/accounts/id_account.go
  resource-manager/maps/2023-06-01/accounts/id_account_test.go
  resource-manager/maps/2023-06-01/accounts/method_createorupdate.go
  resource-manager/maps/2023-06-01/accounts/method_delete.go
  resource-manager/maps/2023-06-01/accounts/method_get.go
  resource-manager/maps/2023-06-01/accounts/method_listbyresourcegroup.go
  resource-manager/maps/2023-06-01/accounts/method_listbysubscription.go
  resource-manager/maps/2023-06-01/accounts/method_listkeys.go
  resource-manager/maps/2023-06-01/accounts/method_listsas.go
  resource-manager/maps/2023-06-01/accounts/method_regeneratekeys.go
  resource-manager/maps/2023-06-01/accounts/method_update.go
  resource-manager/maps/2023-06-01/accounts/model_accountsasparameters.go
  resource-manager/maps/2023-06-01/accounts/model_corsrule.go
  resource-manager/maps/2023-06-01/accounts/model_corsrules.go
  resource-manager/maps/2023-06-01/accounts/model_customermanagedkeyencryption.go
  resource-manager/maps/2023-06-01/accounts/model_customermanagedkeyencryptionkeyencryptionkeyidentity.go
  resource-manager/maps/2023-06-01/accounts/model_encryption.go
  resource-manager/maps/2023-06-01/accounts/model_linkedresource.go
  resource-manager/maps/2023-06-01/accounts/model_mapsaccount.go
  resource-manager/maps/2023-06-01/accounts/model_mapsaccountkeys.go
  resource-manager/maps/2023-06-01/accounts/model_mapsaccountproperties.go
  resource-manager/maps/2023-06-01/accounts/model_mapsaccountsastoken.go
  resource-manager/maps/2023-06-01/accounts/model_mapsaccountupdateparameters.go
  resource-manager/maps/2023-06-01/accounts/model_mapskeyspecification.go
  resource-manager/maps/2023-06-01/accounts/model_sku.go
  resource-manager/maps/2023-06-01/accounts/predicates.go
  resource-manager/maps/2023-06-01/accounts/version.go
  resource-manager/maps/2023-06-01/client.go
  resource-manager/maps/2023-06-01/creators/README.md
  resource-manager/maps/2023-06-01/creators/client.go
  resource-manager/maps/2023-06-01/creators/id_account.go
  resource-manager/maps/2023-06-01/creators/id_account_test.go
  resource-manager/maps/2023-06-01/creators/id_creator.go
  resource-manager/maps/2023-06-01/creators/id_creator_test.go
  resource-manager/maps/2023-06-01/creators/method_createorupdate.go
  resource-manager/maps/2023-06-01/creators/method_delete.go
  resource-manager/maps/2023-06-01/creators/method_get.go
  resource-manager/maps/2023-06-01/creators/method_listbyaccount.go
  resource-manager/maps/2023-06-01/creators/method_update.go
  resource-manager/maps/2023-06-01/creators/model_creator.go
  resource-manager/maps/2023-06-01/creators/model_creatorproperties.go
  resource-manager/maps/2023-06-01/creators/model_creatorupdateparameters.go
  resource-manager/maps/2023-06-01/creators/predicates.go
  resource-manager/maps/2023-06-01/creators/version.go
  resource-manager/maps/2023-06-01/operations/README.md
  resource-manager/maps/2023-06-01/operations/client.go
  resource-manager/maps/2023-06-01/operations/method_mapslistsubscriptionoperations.go
  resource-manager/maps/2023-06-01/operations/model_dimension.go
  resource-manager/maps/2023-06-01/operations/model_metricspecification.go
  resource-manager/maps/2023-06-01/operations/model_operationdetail.go
  resource-manager/maps/2023-06-01/operations/model_operationdisplay.go
  resource-manager/maps/2023-06-01/operations/model_operationproperties.go
  resource-manager/maps/2023-06-01/operations/model_servicespecification.go
  resource-manager/maps/2023-06-01/operations/predicates.go
  resource-manager/maps/2023-06-01/operations/version.go
Labels: release-once-merged

#603 client/resourcemanager: adding `Waiting` as a Provisioning State for HealthBot
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged, base-layer/polling

#601 dependencies: updating to `v0.58.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
Labels: dependencies

#612 Auto PR: Regenerating the Go SDK (a5d7df06a1eddba3e4217423b11da94457007a66)
  resource-manager/resourceconnector/2022-10-27/appliances/constants.go
Labels: release-once-merged

#614 Auto PR: Regenerating the Go SDK (372d22103db1dcfcb78ce9fa10308008799546a3)
  resource-manager/resources/2021-07-01/client.go
  resource-manager/resources/2021-07-01/features/README.md
  resource-manager/resources/2021-07-01/features/client.go
  resource-manager/resources/2021-07-01/features/id_feature.go
  resource-manager/resources/2021-07-01/features/id_feature_test.go
  resource-manager/resources/2021-07-01/features/id_providers2.go
  resource-manager/resources/2021-07-01/features/id_providers2_test.go
  resource-manager/resources/2021-07-01/features/method_get.go
  resource-manager/resources/2021-07-01/features/method_list.go
  resource-manager/resources/2021-07-01/features/method_listall.go
  resource-manager/resources/2021-07-01/features/method_register.go
  resource-manager/resources/2021-07-01/features/method_unregister.go
  resource-manager/resources/2021-07-01/features/model_featureproperties.go
  resource-manager/resources/2021-07-01/features/model_featureresult.go
  resource-manager/resources/2021-07-01/features/predicates.go
  resource-manager/resources/2021-07-01/features/version.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/README.md
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/client.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/constants.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/id_featureprovider.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/id_featureprovider_test.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/id_subscriptionfeatureregistration.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/id_subscriptionfeatureregistration_test.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/method_subscriptionfeatureregistrationscreateorupdate.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/method_subscriptionfeatureregistrationsdelete.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/method_subscriptionfeatureregistrationsget.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/method_subscriptionfeatureregistrationslistallbysubscription.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/method_subscriptionfeatureregistrationslistbysubscription.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/model_authorizationprofile.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/model_subscriptionfeatureregistration.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/model_subscriptionfeatureregistrationproperties.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/predicates.go
  resource-manager/resources/2021-07-01/subscriptionfeatureregistrations/version.go
Labels: release-once-merged

#616 Auto PR: Regenerating the Go SDK (0fe2f9bb2ecf8178bf502c0ab35308c70791fb0e)
  resource-manager/resourceconnector/2022-10-27/appliances/README.md
  resource-manager/resourceconnector/2022-10-27/appliances/method_listkeys.go
Labels: release-once-merged

#611 `sdk/client`: req marshal with `[]byte` instead of `*[]byte`
  sdk/client/client.go
Labels: enhancement, base-layer

#624 docs: updating the readme's
  README.md
  docs/README.md
  docs/authentication.md
  docs/frequently-asked-questions.md
Labels: documentation

#626 `poller_lro` : add pending status `Resuming` and `Scaling` for `anaylsisservices`
  sdk/client/resourcemanager/poller_lro.go
Labels: base-layer/polling

#628 Auto PR: Regenerating the Go SDK (9450f0e5cefe4ce642a1e5dd21ff0a99968b95cf)
  resource-manager/costmanagement/2023-08-01/client.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/README.md
  resource-manager/costmanagement/2023-08-01/costallocationrules/client.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/constants.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/id_billingaccount.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/id_billingaccount_test.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/id_costallocationrule.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/id_costallocationrule_test.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/method_checknameavailability.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/method_createorupdate.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/method_delete.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/method_get.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/method_list.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_costallocationproportion.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_costallocationrulechecknameavailabilityrequest.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_costallocationrulechecknameavailabilityresponse.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_costallocationruledefinition.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_costallocationruledetails.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_costallocationruleproperties.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_sourcecostallocationresource.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/model_targetcostallocationresource.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/predicates.go
  resource-manager/costmanagement/2023-08-01/costallocationrules/version.go
  resource-manager/costmanagement/2023-08-01/exports/model_export.go
  resource-manager/costmanagement/2023-08-01/settings/README.md
  resource-manager/costmanagement/2023-08-01/settings/client.go
  resource-manager/costmanagement/2023-08-01/settings/constants.go
  resource-manager/costmanagement/2023-08-01/settings/method_createorupdatebyscope.go
  resource-manager/costmanagement/2023-08-01/settings/method_deletebyscope.go
  resource-manager/costmanagement/2023-08-01/settings/method_getbyscope.go
  resource-manager/costmanagement/2023-08-01/settings/method_list.go
  resource-manager/costmanagement/2023-08-01/settings/model_setting.go
  resource-manager/costmanagement/2023-08-01/settings/model_settingslistresult.go
  resource-manager/costmanagement/2023-08-01/settings/model_taginheritanceproperties.go
  resource-manager/costmanagement/2023-08-01/settings/model_taginheritancesetting.go
  resource-manager/costmanagement/2023-08-01/settings/version.go
Labels: release-once-merged

#630 Auto PR: Regenerating the Go SDK (ddbe6272fc85a06a22f57dca26f69ebffbf0c4fb)
  resource-manager/automation/2022-08-08/python3package/README.md
  resource-manager/automation/2022-08-08/python3package/method_createorupdate.go
Labels: release-once-merged

#623 `sdk/client` : allow content-type to not be set
  sdk/client/client.go
  sdk/client/msgraph/client.go
  sdk/client/request_options.go
  sdk/client/resourcemanager/client.go
Labels: base-layer

#633 Auto PR: Regenerating the Go SDK (724e2f1c151fafc46f35bb76a8640806be047900)
  resource-manager/dataprotection/2023-05-01/backupinstances/constants.go
  resource-manager/dataprotection/2023-05-01/backupinstances/model_baseresourceproperties.go
  resource-manager/dataprotection/2023-05-01/backupinstances/model_datasource.go
  resource-manager/dataprotection/2023-05-01/backupinstances/model_datasourceset.go
  resource-manager/dataprotection/2023-05-01/backupinstances/model_defaultresourceproperties.go
  resource-manager/dataprotection/2023-05-01/deletedbackupinstances/constants.go
  resource-manager/dataprotection/2023-05-01/deletedbackupinstances/model_baseresourceproperties.go
  resource-manager/dataprotection/2023-05-01/deletedbackupinstances/model_datasource.go
  resource-manager/dataprotection/2023-05-01/deletedbackupinstances/model_datasourceset.go
  resource-manager/dataprotection/2023-05-01/deletedbackupinstances/model_defaultresourceproperties.go
Labels: release-once-merged

#637 Auto PR: Regenerating the Go SDK (cf76197d8b98ff2db4f54a45fdf2551746001998)
  resource-manager/resourcegraph/2022-10-01/client.go
  resource-manager/resourcegraph/2022-10-01/resources/README.md
  resource-manager/resourcegraph/2022-10-01/resources/client.go
  resource-manager/resourcegraph/2022-10-01/resources/constants.go
  resource-manager/resourcegraph/2022-10-01/resources/method_resources.go
  resource-manager/resourcegraph/2022-10-01/resources/model_errordetails.go
  resource-manager/resourcegraph/2022-10-01/resources/model_facet.go
  resource-manager/resourcegraph/2022-10-01/resources/model_faceterror.go
  resource-manager/resourcegraph/2022-10-01/resources/model_facetrequest.go
  resource-manager/resourcegraph/2022-10-01/resources/model_facetrequestoptions.go
  resource-manager/resourcegraph/2022-10-01/resources/model_facetresult.go
  resource-manager/resourcegraph/2022-10-01/resources/model_queryrequest.go
  resource-manager/resourcegraph/2022-10-01/resources/model_queryrequestoptions.go
  resource-manager/resourcegraph/2022-10-01/resources/model_queryresponse.go
  resource-manager/resourcegraph/2022-10-01/resources/version.go
Labels: release-once-merged

#639 add lro status exception for DeploymentScripts
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged, base-layer/polling
