Repository hashicorp/go-azure-sdk, pull requests merged in 2023-10, with the labels that each got.

#666 Auto PR: Regenerating the Go SDK (c1c5fc707e642977ec1679e83f76fcbceb607ad1)
  resource-manager/recoveryservicesbackup/2023-04-01/protectioncontainers/README.md
  resource-manager/recoveryservicesbackup/2023-04-01/protectioncontainers/method_register_autorest.go
  resource-manager/recoveryservicesbackup/2023-04-01/recoverypoints/model_extendedlocation.go
  resource-manager/recoveryservicesbackup/2023-04-01/recoverypoints/model_iaasvmrecoverypoint.go
  resource-manager/recoveryservicesbackup/2023-04-01/recoverypointsrecommendedformove/model_extendedlocation.go
  resource-manager/recoveryservicesbackup/2023-04-01/recoverypointsrecommendedformove/model_iaasvmrecoverypoint.go
Labels: release-once-merged

#671 Auto PR: Regenerating the Go SDK (359ee5a23dad61c71e0199a08d20ed01cf30ec2f)
  resource-manager/consumption/2023-11-01/events/model_eventproperties.go
  resource-manager/consumption/2023-11-01/lots/constants.go
  resource-manager/consumption/2023-11-01/lots/model_lotproperties.go
Labels: release-once-merged

#676 sdk/client/resourcemanager: parsing additional details from the azure error responses where possible
  sdk/client/resourcemanager/errors.go
  sdk/client/resourcemanager/errors_test.go
Labels: base-layer/errors

#683 odata: add helper function for escaping single quotes in OData query parameter values
  sdk/odata/query.go
Labels: base-layer

#682 dependencies: updating to `v0.62.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
Labels: release-once-merged, update-azurerm-after-release

#685 automation: the output value is a literal boolean
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#686 actions: updating the if statement used for the conditional deployment
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#688 github actions: threading the ssh auth socket through to the release job
  .github/workflows/automation-release.yaml
Labels: update-azurerm-after-release

#693 automation: updating the release script to use bash explicitly
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#694 automation: fixing the step name
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#695 automation: moving both the GHA and AzureRM paths up one level
  scripts/update-azurerm-provider.sh
Labels: update-azurerm-after-release

#689 sdk/client: auto-retrying when a 408 is returned
  sdk/client/client.go
Labels: release-once-merged, update-azurerm-after-release

#696 automation: checking out the full history for the release step
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#697 automation: updating the release script to checkout for the patcher step
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#698 automation: boosting the agent size / updating the git configuration
  .github/workflows/automation-release.yaml
  scripts/update-azurerm-provider.sh
Labels: release-once-merged, update-azurerm-after-release

#699 automation: the email has to be escaped using single and not double quotes
  scripts/update-azurerm-provider.sh
Labels: update-azurerm-after-release

#700 Auto PR: Regenerating the Go SDK (2234dc0452378b9f0d00d8ee81631065b54ee4c7)
  resource-manager/authorization/2022-05-01-preview/client.go
  resource-manager/authorization/2022-05-01-preview/permissions/README.md
  resource-manager/authorization/2022-05-01-preview/permissions/client.go
  resource-manager/authorization/2022-05-01-preview/permissions/method_listforresource.go
  resource-manager/authorization/2022-05-01-preview/permissions/method_listforresourcegroup.go
  resource-manager/authorization/2022-05-01-preview/permissions/model_permission.go
  resource-manager/authorization/2022-05-01-preview/permissions/predicates.go
  resource-manager/authorization/2022-05-01-preview/permissions/version.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/README.md
  resource-manager/authorization/2022-05-01-preview/roledefinitions/client.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/id_scopedroledefinition.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/id_scopedroledefinition_test.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/method_createorupdate.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/method_delete.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/method_get.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/method_list.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/model_permission.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/model_roledefinition.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/model_roledefinitionproperties.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/predicates.go
  resource-manager/authorization/2022-05-01-preview/roledefinitions/version.go
Labels: release-once-merged, update-azurerm-after-release

#702 tooling: run labeler once per PR
  .github/workflows/pr-labeler.yaml
Labels: tooling

#703 Auto PR: Regenerating the Go SDK (89c90cb0458b5e8a9c352c236eb1b40664cdf755)
  resource-manager/servicenetworking/2023-11-01/associationsinterface/README.md
  resource-manager/servicenetworking/2023-11-01/associationsinterface/client.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/constants.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/id_association.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/id_association_test.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/id_trafficcontroller.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/id_trafficcontroller_test.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/method_createorupdate.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/method_delete.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/method_get.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/method_listbytrafficcontroller.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/method_update.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/model_association.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/model_associationproperties.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/model_associationsubnet.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/model_associationsubnetupdate.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/model_associationupdate.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/model_associationupdateproperties.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/predicates.go
  resource-manager/servicenetworking/2023-11-01/associationsinterface/version.go
  resource-manager/servicenetworking/2023-11-01/client.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/README.md
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/client.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/constants.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/id_frontend.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/id_frontend_test.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/id_trafficcontroller.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/id_trafficcontroller_test.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/method_createorupdate.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/method_delete.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/method_get.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/method_listbytrafficcontroller.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/method_update.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/model_frontend.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/model_frontendproperties.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/model_frontendupdate.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/predicates.go
  resource-manager/servicenetworking/2023-11-01/frontendsinterface/version.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/README.md
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/client.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/constants.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/id_trafficcontroller.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/id_trafficcontroller_test.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/method_createorupdate.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/method_delete.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/method_get.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/method_listbyresourcegroup.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/method_listbysubscription.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/method_update.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/model_resourceid.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/model_trafficcontroller.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/model_trafficcontrollerproperties.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/model_trafficcontrollerupdate.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/predicates.go
  resource-manager/servicenetworking/2023-11-01/trafficcontrollerinterface/version.go
Labels: release-once-merged

#704 poller_lro : add pending status "Preparing System Configuration" for SAPVirtualInstance
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#711 poller_lro : add pending status AuthorizeReplication and BreakReplication for NetAppVolumeReplication
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged
