Repository hashicorp/go-azure-sdk, pull requests merged in 2023-12, with the labels that each got.

#758 Auto PR: Regenerating the Go SDK (c6d10585a023ee4b76c60c9b33931ce86e38a6e0)
  resource-manager/recoveryservicesbackup/2023-06-01/backuppolicies/model_userassignedidentityproperties.go
  resource-manager/recoveryservicesbackup/2023-06-01/backuppolicies/model_userassignedmanagedidentitydetails.go
  resource-manager/recoveryservicesbackup/2023-06-01/operation/model_userassignedidentityproperties.go
  resource-manager/recoveryservicesbackup/2023-06-01/operation/model_userassignedmanagedidentitydetails.go
  resource-manager/recoveryservicesbackup/2023-06-01/protectionpolicies/model_userassignedidentityproperties.go
  resource-manager/recoveryservicesbackup/2023-06-01/protectionpolicies/model_userassignedmanagedidentitydetails.go
  resource-manager/recoveryservicesbackup/2023-06-01/restores/model_userassignedidentityproperties.go
  resource-manager/recoveryservicesbackup/2023-06-01/restores/model_userassignedmanagedidentitydetails.go
  resource-manager/recoveryservicesbackup/2023-06-01/validateoperation/model_userassignedidentityproperties.go
  resource-manager/recoveryservicesbackup/2023-06-01/validateoperation/model_userassignedmanagedidentitydetails.go
Labels: release-once-merged

#755 environments: correctly set the resourceIdentifier
  sdk/environments/helpers.go
Labels: bug, release-once-merged, base-layer

#761 client/resourcemanager: adding a new InProgress status of `Active`
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged, update-azurerm-after-release

#766 Auto PR: Regenerating the Go SDK (a168fd6ddc5ddee7c50aa37c67022d6f877d49a3)
  resource-manager/hybridkubernetes/2024-01-01/client.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/README.md
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/client.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/constants.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/id_connectedcluster.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/id_connectedcluster_test.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclustercreate.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterdelete.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterget.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterlistbyresourcegroup.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterlistbysubscription.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterlistclusterusercredential.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterupdate.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_aadprofile.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_arcagentprofile.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedcluster.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedclusterpatch.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedclusterpatchproperties.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedclusterproperties.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_credentialresult.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_credentialresults.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_hybridconnectionconfig.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_listclusterusercredentialproperties.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/predicates.go
  resource-manager/hybridkubernetes/2024-01-01/connectedclusters/version.go
Labels: release-once-merged

#768 dependencies: updating to `v0.65.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
Labels: release-once-merged, update-azurerm-after-release

#769 automation: adding logging to try and debug the lack of a comment
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#770 automation: updating the reference
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#773 automation: writing the result to a file
  .github/workflows/automation-release.yaml
  scripts/update-azurerm-provider.sh
Labels: release-once-merged, update-azurerm-after-release

#777 automation: moving the conditional check into the release job
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#778 automation: defining an output
  .github/workflows/automation-release.yaml
Labels: release-once-merged, update-azurerm-after-release

#779 Auto PR: Regenerating the Go SDK (95933d46eb57e31c0ed3242a6082ef8498c541c7)
  resource-manager/authorization/2020-04-01-preview/client.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/README.md
  resource-manager/authorization/2020-04-01-preview/roleassignments/client.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/constants.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/id_roleid.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/id_roleid_test.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/id_scopedroleassignment.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/id_scopedroleassignment_test.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_create.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_createbyid.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_delete.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_deletebyid.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_get.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_getbyid.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_list.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_listforresource.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_listforresourcegroup.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/method_listforscope.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/model_roleassignment.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/model_roleassignmentcreateparameters.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/model_roleassignmentproperties.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/model_roleassignmentpropertieswithscope.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/predicates.go
  resource-manager/authorization/2020-04-01-preview/roleassignments/version.go
Labels: release-once-merged, update-azurerm-after-release

#781 environments: fix identifier URI for storage in china
  sdk/environments/azure_china.go
Labels: bug, release-once-merged, base-layer

#782 automation: outputting the value and not the key/value into the automation file
  scripts/update-azurerm-provider.sh
Labels: release-once-merged, update-azurerm-after-release

#783 Auto PR: Regenerating the Go SDK (07760ee2006fa4fd1195bd732180897b4510c7d8)
  resource-manager/authorization/2018-01-01-preview/client.go
  resource-manager/authorization/2018-01-01-preview/permissions/README.md
  resource-manager/authorization/2018-01-01-preview/permissions/client.go
  resource-manager/authorization/2018-01-01-preview/permissions/method_listforresource.go
  resource-manager/authorization/2018-01-01-preview/permissions/method_listforresourcegroup.go
  resource-manager/authorization/2018-01-01-preview/permissions/model_permission.go
  resource-manager/authorization/2018-01-01-preview/permissions/predicates.go
  resource-manager/authorization/2018-01-01-preview/permissions/version.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/README.md
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/client.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/id_provideroperation.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/id_provideroperation_test.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/method_get.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/method_list.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/model_provideroperation.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/model_provideroperationsmetadata.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/model_resourcetype.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/predicates.go
  resource-manager/authorization/2018-01-01-preview/provideroperationsmetadata/version.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/README.md
  resource-manager/authorization/2018-01-01-preview/roleassignments/client.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/id_roleid.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/id_roleid_test.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/id_scopedroleassignment.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/id_scopedroleassignment_test.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_create.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_createbyid.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_delete.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_deletebyid.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_get.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_getbyid.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_list.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_listforresource.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_listforresourcegroup.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/method_listforscope.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/model_roleassignment.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/model_roleassignmentcreateparameters.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/model_roleassignmentproperties.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/model_roleassignmentpropertieswithscope.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/predicates.go
  resource-manager/authorization/2018-01-01-preview/roleassignments/version.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/README.md
  resource-manager/authorization/2018-01-01-preview/roledefinitions/client.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/id_scopedroledefinition.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/id_scopedroledefinition_test.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/method_createorupdate.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/method_delete.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/method_get.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/method_list.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/model_permission.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/model_roledefinition.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/model_roledefinitionproperties.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/predicates.go
  resource-manager/authorization/2018-01-01-preview/roledefinitions/version.go
Labels: release-once-merged, update-azurerm-after-release

#786 Auto PR: Regenerating the Go SDK (bce313651e1222611c382e328b2cc98ba2a7ef23)
  resource-manager/maintenance/2023-04-01/applyupdate/README.md
  resource-manager/maintenance/2023-04-01/applyupdate/client.go
  resource-manager/maintenance/2023-04-01/applyupdate/constants.go
  resource-manager/maintenance/2023-04-01/applyupdate/method_forresourcegrouplist_autorest.go
  resource-manager/maintenance/2023-04-01/applyupdate/method_list_autorest.go
  resource-manager/maintenance/2023-04-01/applyupdate/model_applyupdate.go
  resource-manager/maintenance/2023-04-01/applyupdate/model_applyupdateproperties.go
  resource-manager/maintenance/2023-04-01/applyupdate/model_listapplyupdate.go
  resource-manager/maintenance/2023-04-01/applyupdate/version.go
  resource-manager/maintenance/2023-04-01/client.go
  resource-manager/web/2022-09-01/appserviceenvironments/README.md
  resource-manager/web/2022-09-01/appserviceenvironments/method_approveorrejectprivateendpointconnection.go
  resource-manager/web/2022-09-01/appserviceenvironments/model_privatelinkconnectionapprovalrequest.go
  resource-manager/web/2022-09-01/appserviceenvironments/model_privatelinkconnectionapprovalrequestresource.go
  resource-manager/web/2022-09-01/staticsites/README.md
  resource-manager/web/2022-09-01/staticsites/method_approveorrejectprivateendpointconnection.go
  resource-manager/web/2022-09-01/staticsites/model_privatelinkconnectionapprovalrequest.go
  resource-manager/web/2022-09-01/staticsites/model_privatelinkconnectionapprovalrequestresource.go
  resource-manager/web/2022-09-01/webapps/README.md
  resource-manager/web/2022-09-01/webapps/method_approveorrejectprivateendpointconnection.go
  resource-manager/web/2022-09-01/webapps/method_approveorrejectprivateendpointconnectionslot.go
  resource-manager/web/2022-09-01/webapps/model_privatelinkconnectionapprovalrequest.go
  resource-manager/web/2022-09-01/webapps/model_privatelinkconnectionapprovalrequestresource.go
  resource-manager/web/2023-01-01/appserviceenvironments/README.md
  resource-manager/web/2023-01-01/appserviceenvironments/method_approveorrejectprivateendpointconnection.go
  resource-manager/web/2023-01-01/appserviceenvironments/model_privatelinkconnectionapprovalrequest.go
  resource-manager/web/2023-01-01/appserviceenvironments/model_privatelinkconnectionapprovalrequestresource.go
  resource-manager/web/2023-01-01/staticsites/README.md
  resource-manager/web/2023-01-01/staticsites/method_approveorrejectprivateendpointconnection.go
  resource-manager/web/2023-01-01/staticsites/model_privatelinkconnectionapprovalrequest.go
  resource-manager/web/2023-01-01/staticsites/model_privatelinkconnectionapprovalrequestresource.go
  resource-manager/web/2023-01-01/webapps/README.md
  resource-manager/web/2023-01-01/webapps/method_approveorrejectprivateendpointconnection.go
  resource-manager/web/2023-01-01/webapps/method_approveorrejectprivateendpointconnectionslot.go
  resource-manager/web/2023-01-01/webapps/model_privatelinkconnectionapprovalrequest.go
  resource-manager/web/2023-01-01/webapps/model_privatelinkconnectionapprovalrequestresource.go
Labels: release-once-merged
