Repository hashicorp/go-azure-sdk, pull requests merged in 2023-09, with the labels that each got.

#649 Auto PR: Regenerating the Go SDK (18d01f7ee93af27deb693afb591e157446455c0b)
  resource-manager/security/2022-12-01-preview/client.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/README.md
  resource-manager/security/2022-12-01-preview/defenderforstorage/client.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/method_create_autorest.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/method_get_autorest.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_defenderforstoragesetting.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_defenderforstoragesettingproperties.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_malwarescanningproperties.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_onuploadproperties.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_operationstatus.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_sensitivedatadiscoveryproperties.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/version.go
Labels: release-once-merged

#653 Auto PR: Regenerating the Go SDK (ffbac7a81b9f6088d1a151621e4512abc91dc67b)
  resource-manager/appplatform/2022-09-01-preview/appplatform/model_jaruploadedusersourceinfo.go
  resource-manager/appplatform/2022-09-01-preview/appplatform/model_netcorezipuploadedusersourceinfo.go
  resource-manager/appplatform/2022-09-01-preview/appplatform/model_sourceuploadedusersourceinfo.go
  resource-manager/appplatform/2022-09-01-preview/appplatform/model_usersourceinfo.go
  resource-manager/appplatform/2022-12-01/appplatform/model_jaruploadedusersourceinfo.go
  resource-manager/appplatform/2022-12-01/appplatform/model_netcorezipuploadedusersourceinfo.go
  resource-manager/appplatform/2022-12-01/appplatform/model_sourceuploadedusersourceinfo.go
  resource-manager/appplatform/2022-12-01/appplatform/model_usersourceinfo.go
  resource-manager/appplatform/2023-05-01-preview/appplatform/model_jaruploadedusersourceinfo.go
  resource-manager/appplatform/2023-05-01-preview/appplatform/model_netcorezipuploadedusersourceinfo.go
  resource-manager/appplatform/2023-05-01-preview/appplatform/model_sourceuploadedusersourceinfo.go
  resource-manager/appplatform/2023-05-01-preview/appplatform/model_usersourceinfo.go
  resource-manager/appplatform/2023-07-01-preview/appplatform/model_jaruploadedusersourceinfo.go
  resource-manager/appplatform/2023-07-01-preview/appplatform/model_netcorezipuploadedusersourceinfo.go
  resource-manager/appplatform/2023-07-01-preview/appplatform/model_sourceuploadedusersourceinfo.go
  resource-manager/appplatform/2023-07-01-preview/appplatform/model_usersourceinfo.go
Labels: release-once-merged

#654 Auto PR: Regenerating the Go SDK (424887965c976a875de0bfee62d789b4a7b8f78f)
  resource-manager/keyvault/2022-11-01/keys/constants.go
  resource-manager/keyvault/2022-11-01/managedhsmkeys/constants.go
  resource-manager/keyvault/2023-02-01/keys/constants.go
  resource-manager/keyvault/2023-02-01/managedhsmkeys/constants.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupstatus/constants.go
  resource-manager/recoveryservicesbackup/2023-04-01/backupstatus/model_backupstatusresponse.go
  resource-manager/security/2022-12-01-preview/defenderforstorage/model_malwarescanningproperties.go
Labels: release-once-merged

#660 Github Actions: updating to use larger agents
  .github/workflows/automation-release.yaml
  .github/workflows/pr-unit-tests.yaml
  .github/workflows/pr-validate-go-get.yaml
Labels: tooling

#662 Environments: add app IDs for VM Signin and Intune Enrollment
  sdk/environments/application_ids.go
  sdk/environments/constants.go
Labels: base-layer
