Repository hashicorp/go-azure-sdk, pull requests merged in 2023-03, with the labels that each got.

#341 Auto PR: Regenerating the Go SDK (06e77ec027122ef82aa06280daa267c0aeb0010c)
  resource-manager/aadb2c/2021-04-01-preview/client.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/client.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_checknameavailability.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_checknameavailability_autorest.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_create.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_create_autorest.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_delete.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_delete_autorest.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_get.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_get_autorest.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbyresourcegroup.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbyresourcegroup_autorest.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbysubscription.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbysubscription_autorest.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_update.go
  resource-manager/aadb2c/2021-04-01-preview/tenants/method_update_autorest.go
Labels: release-once-merged

#342 Add OData types of Windows Autopilot
  sdk/odata/types.go
Labels: release-once-merged

#352 Bugfix: skip auxiliary tokens for CLI auth instead of erroring
  sdk/auth/azure_cli_authorizer.go
  sdk/auth/shared_key_authorizer.go
Labels: release-once-merged, base-layer

#353 resourcemanager/poller: splitting Delete and non-Delete LROs
  sdk/client/resourcemanager/poller.go
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#355 sdk/environments: porting the `IsAzureStack` method to `go-azure-sdk`
  sdk/environments/azure_china.go
  sdk/environments/azure_gov.go
  sdk/environments/azure_public.go
  sdk/environments/azure_stack.go
  sdk/environments/azure_stack_test.go
  sdk/environments/endpoint_refresh.go
  sdk/environments/environment.go
Labels: release-once-merged

#367 auth: use a retryable http client to handle 429 responses from token endpoint(s)
  sdk/auth/client.go
  sdk/auth/client_credentials.go
  sdk/auth/github_oidc_authorizer.go
  sdk/auth/managed_identity_authorizer.go
Labels: release-once-merged

#373 `enviroments`: add `Attestation` api endpoint
  sdk/environments/azure_public.go
  sdk/environments/helpers.go
Labels: release-once-merged

#375 auth: remove client timeout and rely on the request context
  sdk/auth/client.go
  sdk/auth/managed_identity_authorizer.go
Labels: release-once-merged

#382 Set as the auth client's logger
  sdk/auth/client.go
Labels: release-once-merged

#383 Bugfix: OData parsing for bad responses
  sdk/client/client.go
Labels: bug, release-once-merged

#385 auth: fix bad error check
  sdk/auth/autorest/auth.go
  sdk/auth/token.go
Labels: bug, release-once-merged
