Repository hashicorp/go-azure-sdk, pull requests merged in 2023-02, with the labels that each got.

#275 dependencies: updating
  .github/workflows/pr-acceptance-tests.yml
  .github/workflows/pr-unit-tests.yaml
  .github/workflows/pr-validate-go-get.yaml
  .go-version
  go.mod
  go.sum
Labels: release-once-merged

#276 SDK tweaks
  sdk/auth/azure_cli_authorizer.go
  sdk/claims/claims.go
  sdk/claims/claims_test.go
  sdk/client/msgraph/client.go
  sdk/client/msgraph/client_test.go
  sdk/environments/azure_china.go
  sdk/environments/azure_gov.go
  sdk/environments/azure_public.go
  sdk/environments/azure_public_canary.go
  sdk/environments/endpoint_refresh.go
  sdk/environments/from_endpoint.go
  sdk/environments/from_endpoint_test.go
  sdk/internal/metadata/client.go
  sdk/internal/metadata/client_test.go
  sdk/internal/test/acctest.go
Labels: bug, enhancement

#284 Fixes for environments configuration
  sdk/environments/azure_china.go
  sdk/environments/azure_gov.go
  sdk/environments/helpers.go
  sdk/environments/scopes.go
Labels: bug, release-once-merged

#286 Auto PR: Regenerating the Go SDK (dd9f3a88615a2a997d13c96a3062f046ecbf62f6)
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/client.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_capabilitytypesget.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_capabilitytypesget_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_createorupdate.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_createorupdate_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_delete.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_delete_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_get.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_get_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_list.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilities/method_list_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilitytypes/client.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilitytypes/method_list.go
  resource-manager/chaosstudio/2022-07-01-preview/capabilitytypes/method_list_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/client.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/client.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_cancel.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_cancel_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_createorupdate.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_createorupdate_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_delete.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_delete_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_get.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_get_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_getexecutiondetails.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_getexecutiondetails_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_getstatus.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_getstatus_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_list.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_list_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_listall.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_listall_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_listallstatuses.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_listallstatuses_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_listexecutiondetails.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_listexecutiondetails_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_start.go
  resource-manager/chaosstudio/2022-07-01-preview/experiments/method_start_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/client.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_createorupdate.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_createorupdate_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_delete.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_delete_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_get.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_get_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_list.go
  resource-manager/chaosstudio/2022-07-01-preview/targets/method_list_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/targettypes/client.go
  resource-manager/chaosstudio/2022-07-01-preview/targettypes/method_get.go
  resource-manager/chaosstudio/2022-07-01-preview/targettypes/method_get_autorest.go
  resource-manager/chaosstudio/2022-07-01-preview/targettypes/method_list.go
  resource-manager/chaosstudio/2022-07-01-preview/targettypes/method_list_autorest.go
Labels: release-once-merged

#283 Autorest compatibility layer for the auth package
  sdk/auth/autorest/auth.go
  sdk/auth/autorest/auth_test.go
Labels: enhancement, release-once-merged

#292 Auto PR: Regenerating the Go SDK (3d7567c9492b4de9b7216dddaf2ef65896173d4f)
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/README.md
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/id_compilationjob.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/id_compilationjob_test.go
  resource-manager/voiceservices/2023-01-31/client.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/README.md
  resource-manager/voiceservices/2023-01-31/communicationsgateways/client.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/constants.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/id_communicationsgateway.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/id_communicationsgateway_test.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/method_createorupdate_autorest.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/method_delete_autorest.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/method_get_autorest.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/method_listbyresourcegroup_autorest.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/method_listbysubscription_autorest.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/method_update_autorest.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/model_communicationsgateway.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/model_communicationsgatewayproperties.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/model_communicationsgatewayupdate.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/model_primaryregionproperties.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/model_serviceregionproperties.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/predicates.go
  resource-manager/voiceservices/2023-01-31/communicationsgateways/version.go
  resource-manager/voiceservices/2023-01-31/testlines/README.md
  resource-manager/voiceservices/2023-01-31/testlines/client.go
  resource-manager/voiceservices/2023-01-31/testlines/constants.go
  resource-manager/voiceservices/2023-01-31/testlines/id_communicationsgateway.go
  resource-manager/voiceservices/2023-01-31/testlines/id_communicationsgateway_test.go
  resource-manager/voiceservices/2023-01-31/testlines/id_testline.go
  resource-manager/voiceservices/2023-01-31/testlines/id_testline_test.go
  resource-manager/voiceservices/2023-01-31/testlines/method_createorupdate_autorest.go
  resource-manager/voiceservices/2023-01-31/testlines/method_delete_autorest.go
  resource-manager/voiceservices/2023-01-31/testlines/method_get_autorest.go
  resource-manager/voiceservices/2023-01-31/testlines/method_listbycommunicationsgateway_autorest.go
  resource-manager/voiceservices/2023-01-31/testlines/method_update_autorest.go
  resource-manager/voiceservices/2023-01-31/testlines/model_testline.go
  resource-manager/voiceservices/2023-01-31/testlines/model_testlineproperties.go
  resource-manager/voiceservices/2023-01-31/testlines/model_testlineupdate.go
  resource-manager/voiceservices/2023-01-31/testlines/predicates.go
  resource-manager/voiceservices/2023-01-31/testlines/version.go
  resource-manager/voiceservices/2023-01-31/voiceservices/README.md
  resource-manager/voiceservices/2023-01-31/voiceservices/client.go
  resource-manager/voiceservices/2023-01-31/voiceservices/constants.go
  resource-manager/voiceservices/2023-01-31/voiceservices/id_location.go
  resource-manager/voiceservices/2023-01-31/voiceservices/id_location_test.go
  resource-manager/voiceservices/2023-01-31/voiceservices/method_nameavailabilitychecklocal_autorest.go
  resource-manager/voiceservices/2023-01-31/voiceservices/model_checknameavailabilityrequest.go
  resource-manager/voiceservices/2023-01-31/voiceservices/model_checknameavailabilityresponse.go
  resource-manager/voiceservices/2023-01-31/voiceservices/version.go
Labels: release-once-merged

#301 Auto PR: Regenerating the Go SDK (73d253a35d366ac0ba1cd611ee4d727ce6ef2e55)
  resource-manager/automation/2015-10-31/dsccompilationjob/README.md
  resource-manager/automation/2015-10-31/dsccompilationjob/id_compilationjob.go
  resource-manager/automation/2015-10-31/dsccompilationjob/id_compilationjob_test.go
Labels: release-once-merged

#302 Environments: export constants for well-known cloud names
  sdk/environments/azure_china.go
  sdk/environments/azure_gov.go
  sdk/environments/azure_public.go
Labels: release-once-merged

#300 Environments: Add app IDs for some Office and Azure Postgres applications
  sdk/environments/application_ids.go
  sdk/environments/base.go
  sdk/environments/constants.go
  sdk/environments/environment.go
  sdk/environments/helpers.go
  sdk/environments/interfaces.go
Labels: release-once-merged

#304 Auto PR: Regenerating the Go SDK (f56d8d9b48bcab5c8872e092f5ebcc3e7d3d2af7)
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/README.md
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/id_compilationjob.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/id_compilationjob_test.go
  resource-manager/media/2021-11-01/client.go
  resource-manager/media/2021-11-01/streamingendpoint/README.md
  resource-manager/media/2021-11-01/streamingendpoint/client.go
  resource-manager/media/2021-11-01/streamingendpoint/constants.go
  resource-manager/media/2021-11-01/streamingendpoint/id_streamingendpoint.go
  resource-manager/media/2021-11-01/streamingendpoint/id_streamingendpoint_test.go
  resource-manager/media/2021-11-01/streamingendpoint/model_akamaiaccesscontrol.go
  resource-manager/media/2021-11-01/streamingendpoint/model_akamaisignatureheaderauthenticationkey.go
  resource-manager/media/2021-11-01/streamingendpoint/model_armstreamingendpointcurrentsku.go
  resource-manager/media/2021-11-01/streamingendpoint/model_crosssiteaccesspolicies.go
  resource-manager/media/2021-11-01/streamingendpoint/model_ipaccesscontrol.go
  resource-manager/media/2021-11-01/streamingendpoint/model_iprange.go
  resource-manager/media/2021-11-01/streamingendpoint/model_streamingendpoint.go
  resource-manager/media/2021-11-01/streamingendpoint/model_streamingendpointaccesscontrol.go
  resource-manager/media/2021-11-01/streamingendpoint/model_streamingendpointproperties.go
  resource-manager/media/2021-11-01/streamingendpoint/version.go
  resource-manager/media/2021-11-01/streamingendpoints/README.md
  resource-manager/media/2021-11-01/streamingendpoints/method_update_autorest.go
  resource-manager/media/2022-08-01/client.go
  resource-manager/media/2022-08-01/streamingendpoint/README.md
  resource-manager/media/2022-08-01/streamingendpoint/client.go
  resource-manager/media/2022-08-01/streamingendpoint/constants.go
  resource-manager/media/2022-08-01/streamingendpoint/id_streamingendpoint.go
  resource-manager/media/2022-08-01/streamingendpoint/id_streamingendpoint_test.go
  resource-manager/media/2022-08-01/streamingendpoint/model_akamaiaccesscontrol.go
  resource-manager/media/2022-08-01/streamingendpoint/model_akamaisignatureheaderauthenticationkey.go
  resource-manager/media/2022-08-01/streamingendpoint/model_armstreamingendpointcurrentsku.go
  resource-manager/media/2022-08-01/streamingendpoint/model_crosssiteaccesspolicies.go
  resource-manager/media/2022-08-01/streamingendpoint/model_ipaccesscontrol.go
  resource-manager/media/2022-08-01/streamingendpoint/model_iprange.go
  resource-manager/media/2022-08-01/streamingendpoint/model_streamingendpoint.go
  resource-manager/media/2022-08-01/streamingendpoint/model_streamingendpointaccesscontrol.go
  resource-manager/media/2022-08-01/streamingendpoint/model_streamingendpointproperties.go
  resource-manager/media/2022-08-01/streamingendpoint/version.go
  resource-manager/media/2022-08-01/streamingendpoints/README.md
  resource-manager/media/2022-08-01/streamingendpoints/method_update_autorest.go
Labels: release-once-merged

#305 Auto PR: Regenerating the Go SDK (22741575f4ca9b658693ec689845e3ccfdb0d9f3)
  resource-manager/consumption/2019-10-01/reservationrecommendations/method_list_autorest.go
  resource-manager/consumption/2019-10-01/usagedetails/method_list_autorest.go
  resource-manager/consumption/2021-10-01/reservationrecommendations/method_list_autorest.go
  resource-manager/consumption/2021-10-01/usagedetails/method_list_autorest.go
  resource-manager/costmanagement/2022-10-01/benefitutilizationsummaries/method_listbybillingaccountid_autorest.go
  resource-manager/costmanagement/2022-10-01/benefitutilizationsummaries/method_listbybillingprofileid_autorest.go
  resource-manager/costmanagement/2022-10-01/benefitutilizationsummaries/method_listbysavingsplanid_autorest.go
  resource-manager/costmanagement/2022-10-01/benefitutilizationsummaries/method_listbysavingsplanorder_autorest.go
  resource-manager/databoxedge/2020-12-01/addons/method_listbyrole_autorest.go
  resource-manager/databoxedge/2020-12-01/roles/method_listbydataboxedgedevice_autorest.go
  resource-manager/databoxedge/2020-12-01/triggers/method_listbydataboxedgedevice_autorest.go
  resource-manager/databoxedge/2022-03-01/addons/method_listbyrole_autorest.go
  resource-manager/databoxedge/2022-03-01/roles/method_listbydataboxedgedevice_autorest.go
  resource-manager/databoxedge/2022-03-01/triggers/method_listbydataboxedgedevice_autorest.go
  resource-manager/datashare/2019-11-01/dataset/method_listbyshare_autorest.go
  resource-manager/datashare/2019-11-01/datasetmapping/method_listbysharesubscription_autorest.go
  resource-manager/datashare/2019-11-01/sharesubscription/method_listsourcesharesynchronizationsettings_autorest.go
  resource-manager/datashare/2019-11-01/synchronizationsetting/method_listbyshare_autorest.go
  resource-manager/datashare/2019-11-01/trigger/method_listbysharesubscription_autorest.go
  resource-manager/datashare/2021-08-01/dataset/method_listbyshare_autorest.go
  resource-manager/datashare/2021-08-01/datasetmapping/method_listbysharesubscription_autorest.go
  resource-manager/datashare/2021-08-01/sharesubscription/method_listsourcesharesynchronizationsettings_autorest.go
  resource-manager/datashare/2021-08-01/synchronizationsetting/method_listbyshare_autorest.go
  resource-manager/datashare/2021-08-01/trigger/method_listbysharesubscription_autorest.go
  resource-manager/resources/2020-10-01/deploymentscripts/method_listbyresourcegroup_autorest.go
  resource-manager/resources/2020-10-01/deploymentscripts/method_listbysubscription_autorest.go
  resource-manager/security/2022-05-01/settings/method_list_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/alertrules/method_alertruleslist_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/alertruletemplates/method_alertruletemplateslist_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/dataconnectors/method_dataconnectorslist_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/entityqueries/method_entityquerytemplateslist_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/entityqueries/method_list_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/threatintelligence/method_indicatorqueryindicators_autorest.go
  resource-manager/securityinsights/2021-09-01-preview/threatintelligence/method_indicatorslist_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/alertrules/method_alertruleslist_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/alertruletemplates/method_alertruletemplateslist_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/dataconnectors/method_dataconnectorslist_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/entityqueries/method_entityquerytemplateslist_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/entityqueries/method_list_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/securitymlanalyticssettings/method_securitymlanalyticssettingslist_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/threatintelligence/method_indicatorqueryindicators_autorest.go
  resource-manager/securityinsights/2022-07-01-preview/threatintelligence/method_indicatorslist_autorest.go
  resource-manager/securityinsights/2022-08-01/alertrules/method_alertruleslist_autorest.go
  resource-manager/securityinsights/2022-08-01/alertruletemplates/method_alertruletemplateslist_autorest.go
  resource-manager/securityinsights/2022-08-01/dataconnectors/method_dataconnectorslist_autorest.go
  resource-manager/securityinsights/2022-08-01/threatintelligence/method_indicatorqueryindicators_autorest.go
  resource-manager/securityinsights/2022-08-01/threatintelligence/method_indicatorslist_autorest.go
  resource-manager/securityinsights/2022-11-01/alertrules/method_alertruleslist_autorest.go
  resource-manager/securityinsights/2022-11-01/alertruletemplates/method_alertruletemplateslist_autorest.go
  resource-manager/securityinsights/2022-11-01/dataconnectors/method_dataconnectorslist_autorest.go
  resource-manager/securityinsights/2022-11-01/securitymlanalyticssettings/method_securitymlanalyticssettingslist_autorest.go
  resource-manager/securityinsights/2022-11-01/threatintelligence/method_indicatorqueryindicators_autorest.go
  resource-manager/securityinsights/2022-11-01/threatintelligence/method_indicatorslist_autorest.go
Labels: release-once-merged

#310 MSGraph: drop the tenant ID from endpoint URIs as this is deprecated and no longer needed with MSAL
  sdk/client/msgraph/client.go
  sdk/client/msgraph/client_test.go
Labels: release-once-merged

#312 Test fix and OData tweaks
  sdk/client/options.go
  sdk/client/resourcemanager/poller_provisioning_state.go
  sdk/internal/metadata/client_test.go
  sdk/odata/query.go
Labels: release-once-merged

#316 sdk/environments: fixing the uri for Azure Gov
  sdk/environments/azure_gov.go
Labels: release-once-merged

#318 sdk: fixing a bug where the authorizer would enter a crash loop when using MSI
  sdk/auth/autorest/auth.go
  sdk/auth/managed_identity_authorizer.go
Labels: release-once-merged

#319 Auth: get the default subscription ID when using Azure CLI
  sdk/auth/azure_cli_authorizer.go
  sdk/internal/azurecli/azcli.go
Labels: release-once-merged

#321 Auto PR: Regenerating the Go SDK (4551a2e2dfb568ee0ad0cfc5f4618879e67fbb9d)
  go.mod
  go.sum
  resource-manager/automation/2015-10-31/dsccompilationjob/README.md
  resource-manager/automation/2015-10-31/dsccompilationjob/id_compilationjob.go
  resource-manager/automation/2015-10-31/dsccompilationjob/id_compilationjob_test.go
  resource-manager/automation/2015-10-31/dsccompilationjob/method_create_autorest.go
  resource-manager/automation/2015-10-31/dsccompilationjob/method_get_autorest.go
  resource-manager/automation/2015-10-31/dsccompilationjob/method_streamlistbyjob_autorest.go
  resource-manager/automation/2019-06-01/dsccompilationjob/README.md
  resource-manager/automation/2019-06-01/dsccompilationjob/id_compilationjob.go
  resource-manager/automation/2019-06-01/dsccompilationjob/id_compilationjob_test.go
  resource-manager/automation/2019-06-01/dsccompilationjob/method_create_autorest.go
  resource-manager/automation/2019-06-01/dsccompilationjob/method_get_autorest.go
  resource-manager/automation/2019-06-01/dsccompilationjob/method_streamlistbyjob_autorest.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/README.md
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/id_compilationjob.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/id_compilationjob_test.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/method_create_autorest.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/method_get_autorest.go
  resource-manager/automation/2020-01-13-preview/dsccompilationjob/method_streamlistbyjob_autorest.go
Labels: release-once-merged

#323 `auth` - Fix ODIC authentication failure
  .github/workflows/pr-acceptance-tests.yml
  sdk/auth/auth.go
Labels: release-once-merged

#328 Switch PKCS#12 library to software.sslmate.com/src/go-pkcs12
  go.mod
  go.sum
  sdk/auth/client_certificate_authorizer.go
Labels: release-once-merged

#330 Auto PR: Regenerating the Go SDK (1ebb71a290ec1f19230a9acf3eac03bab8aa31e1)
  resource-manager/managementgroups/2021-04-01/managementgroups/method_list_autorest.go
  resource-manager/managementgroups/2021-04-01/managementgroups/model_hierarchysettingslist.go
Labels: release-once-merged

#336 Auto PR: Regenerating the Go SDK (da8ced6286ae5e818b02470982d7ccbaab42fcfd)
  resource-manager/consumption/2022-06-01/client.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/README.md
  resource-manager/consumption/2022-06-01/pricesheet20220601/client.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/id_billingperiod.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/id_billingperiod_test.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/method_pricesheetsget_autorest.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/method_pricesheetsgetbybillingperiod_autorest.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/model_meterdetailsv2.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/model_pricesheetmodelv2.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/model_pricesheetpropertiesv2.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/model_pricesheetresultv2.go
  resource-manager/consumption/2022-06-01/pricesheet20220601/version.go
Labels: release-once-merged

#339 SDK: updating the pollers for `resourcemanager`
  sdk/client/resourcemanager/poller.go
  sdk/client/resourcemanager/poller_delete.go
  sdk/client/resourcemanager/poller_lro.go
  sdk/client/resourcemanager/poller_provisioning_state.go
Labels: release-once-merged
