Repository hashicorp/go-azure-sdk, pull requests merged in 2024-02, with the labels that each got.

#868 Auto PR: Regenerating the Go SDK (0fceb35f9836fa82fdef68508b895f05e3090459)
  resource-manager/streamanalytics/2020-03-01/streamingjobs/model_identity.go
  resource-manager/streamanalytics/2020-03-01/streamingjobs/model_streamingjob.go
  resource-manager/streamanalytics/2021-10-01-preview/streamingjobs/model_identity.go
  resource-manager/streamanalytics/2021-10-01-preview/streamingjobs/model_streamingjob.go
  resource-manager/streamanalytics/2021-10-01-preview/subscriptions/model_identity.go
  resource-manager/streamanalytics/2021-10-01-preview/subscriptions/model_streamingjob.go
Labels: release-once-merged

#871 poller: add `Created `as inprogress status for fabric managed
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#872 dependencies - bump `go-azure-helpers` to `v0.66.2`
  microsoft-graph/go.mod
  microsoft-graph/go.sum
  resource-manager/go.mod
  resource-manager/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: release-once-merged, update-azurerm-after-release

#876 Base client interoperability
  sdk/client/client.go
  sdk/client/client_test.go
  sdk/client/dataplane/client.go
  sdk/client/dataplane/storage/client.go
  sdk/client/interface.go
Labels: release-once-merged, base-layer

#879 sdk: check for empty response body before unmarshalling
  sdk/client/client.go
Labels: release-once-merged

#884 Auto PR: Regenerating the Go SDK (6a6975d15858ec1fd5a7f5ffb3c26e063ad3ac16)
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/client.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/constants.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_createorupdate.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_createorupdate_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_delete.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_delete_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_get.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_get_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_listbyenvironment.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_listbyenvironment_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_update.go
  resource-manager/timeseriesinsights/2020-05-15/accesspolicies/method_update_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/client.go
  resource-manager/timeseriesinsights/2020-05-15/environments/client.go
  resource-manager/timeseriesinsights/2020-05-15/environments/constants.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_createorupdate.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_createorupdate_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_delete.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_delete_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_get.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_get_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_listbyresourcegroup.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_listbyresourcegroup_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_listbysubscription.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_listbysubscription_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_update.go
  resource-manager/timeseriesinsights/2020-05-15/environments/method_update_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/client.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/constants.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_createorupdate.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_createorupdate_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_delete.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_delete_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_get.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_get_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_listbyenvironment.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_listbyenvironment_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_update.go
  resource-manager/timeseriesinsights/2020-05-15/eventsources/method_update_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/client.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/constants.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_createorupdate.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_createorupdate_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_delete.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_delete_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_get.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_get_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_listbyenvironment.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_listbyenvironment_autorest.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_update.go
  resource-manager/timeseriesinsights/2020-05-15/referencedatasets/method_update_autorest.go
Labels: release-once-merged

#885 Auto PR: Regenerating the Go SDK (186194bdda91e03144243cd76ff7ed040eec12bb)
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/client.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/constants.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_createorupdate.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_createorupdate_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_delete.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_delete_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_get.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_get_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_listbygroup.go
  resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_listbygroup_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/client.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/client.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/constants.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_createorupdate.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_createorupdate_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_delete.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_delete_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_get.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_get_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_list.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_list_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_listbyresourcegroup.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_listbyresourcegroup_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_update.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_update_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/client.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/constants.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_createorupdate.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_createorupdate_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_delete.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_delete_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_get.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_get_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_list.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_list_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_listbyresourcegroup.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_listbyresourcegroup_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_listbysqlvmgroup.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_listbysqlvmgroup_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_redeploy.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_redeploy_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_startassessment.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_startassessment_autorest.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_update.go
  resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_update_autorest.go
Labels: release-once-merged

#888 `sdk/client/resourcemanager` supporting `Patching` as a `provisioningState` value for NetApp
  sdk/client/resourcemanager/poller_lro.go
Labels: bug, release-once-merged, base-layer/polling

#902 bugfix: include the xml doctype declaration when marshaling
  sdk/client/client.go
Labels: bug, release-once-merged, base-layer

#906 bugfix: use the `http.Request.ContentLength` field instead of `Content-Length` header when building the signed assertion for shared key authorizer
  sdk/auth/shared_key_authorizer.go
Labels: bug, release-once-merged, authentication

#907 Auto PR: Regenerating the Go SDK (2c9447bac0eaad48309d3c05e2433226d6dadf10)
  resource-manager/relay/2021-11-01/namespaces/model_networkrulesetproperties.go
Labels: release-once-merged, update-azurerm-after-release
