Repository hashicorp/go-azure-sdk, pull requests merged in 2024-03, with the labels that each got.

#913 poller: retry LRO polling if 404 response received
  sdk/client/pollers/poller.go
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged, base-layer/polling

#919 Auto PR: Regenerating the Go SDK (92de6aff4630e78b63997374355e9ef062c9269c)
  resource-manager/insights/2024-02-01/client.go
  resource-manager/insights/2024-02-01/metricdefinitions/README.md
  resource-manager/insights/2024-02-01/metricdefinitions/client.go
  resource-manager/insights/2024-02-01/metricdefinitions/constants.go
  resource-manager/insights/2024-02-01/metricdefinitions/method_list.go
  resource-manager/insights/2024-02-01/metricdefinitions/method_listatsubscriptionscope.go
  resource-manager/insights/2024-02-01/metricdefinitions/model_localizablestring.go
  resource-manager/insights/2024-02-01/metricdefinitions/model_metricavailability.go
  resource-manager/insights/2024-02-01/metricdefinitions/model_metricdefinition.go
  resource-manager/insights/2024-02-01/metricdefinitions/model_metricdefinitioncollection.go
  resource-manager/insights/2024-02-01/metricdefinitions/model_subscriptionscopemetricdefinition.go
  resource-manager/insights/2024-02-01/metricdefinitions/model_subscriptionscopemetricdefinitioncollection.go
  resource-manager/insights/2024-02-01/metricdefinitions/version.go
  resource-manager/insights/2024-02-01/metricnamespaces/README.md
  resource-manager/insights/2024-02-01/metricnamespaces/client.go
  resource-manager/insights/2024-02-01/metricnamespaces/constants.go
  resource-manager/insights/2024-02-01/metricnamespaces/method_list.go
  resource-manager/insights/2024-02-01/metricnamespaces/model_metricnamespace.go
  resource-manager/insights/2024-02-01/metricnamespaces/model_metricnamespacecollection.go
  resource-manager/insights/2024-02-01/metricnamespaces/model_metricnamespacename.go
  resource-manager/insights/2024-02-01/metricnamespaces/version.go
  resource-manager/insights/2024-02-01/metrics/README.md
  resource-manager/insights/2024-02-01/metrics/client.go
  resource-manager/insights/2024-02-01/metrics/constants.go
  resource-manager/insights/2024-02-01/metrics/method_list.go
  resource-manager/insights/2024-02-01/metrics/method_listatsubscriptionscope.go
  resource-manager/insights/2024-02-01/metrics/method_listatsubscriptionscopepost.go
  resource-manager/insights/2024-02-01/metrics/model_localizablestring.go
  resource-manager/insights/2024-02-01/metrics/model_metadatavalue.go
  resource-manager/insights/2024-02-01/metrics/model_metric.go
  resource-manager/insights/2024-02-01/metrics/model_metricvalue.go
  resource-manager/insights/2024-02-01/metrics/model_response.go
  resource-manager/insights/2024-02-01/metrics/model_subscriptionscopemetricsrequestbodyparameters.go
  resource-manager/insights/2024-02-01/metrics/model_timeserieselement.go
  resource-manager/insights/2024-02-01/metrics/version.go
Labels: release-once-merged

#923 `sdk/client/resourcemanager`: supporting `Dequeued` as an undocumented polling status
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#928 Auto PR: Regenerating the Go SDK (9eaeb3bc29618d757196bed0e2acfe3cf6d4c7ce)
  resource-manager/frontdoor/2024-02-01/client.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/README.md
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/client.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/constants.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/method_managedrulesetslist_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/model_managedruledefinition.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/model_managedrulegroupdefinition.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/model_managedrulesetdefinition.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/model_managedrulesetdefinitionproperties.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/predicates.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallmanagedrulesets/version.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/README.md
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/client.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/constants.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/id_frontdoorwebapplicationfirewallpolicy.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/id_frontdoorwebapplicationfirewallpolicy_test.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/method_policiescreateorupdate_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/method_policiesdelete_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/method_policiesget_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/method_policieslist_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/method_policieslistbysubscription_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/method_policiesupdate_autorest.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_customrule.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_customrulelist.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_frontendendpointlink.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_groupbyvariable.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_managedruleexclusion.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_managedrulegroupoverride.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_managedruleoverride.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_managedruleset.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_managedrulesetlist.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_matchcondition.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_policysettings.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_policysettingslogscrubbing.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_routingrulelink.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_securitypolicylink.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_sku.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_tagsobject.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_webapplicationfirewallpolicy.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_webapplicationfirewallpolicyproperties.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/model_webapplicationfirewallscrubbingrules.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/predicates.go
  resource-manager/frontdoor/2024-02-01/webapplicationfirewallpolicies/version.go
Labels: release-once-merged

#932 improve handling of nil responses and responses with malformed headers
  sdk/client/client.go
  sdk/client/client_test.go
Labels: bug, release-once-merged

#933 enhancement: include HTTP status text in error when response is unexpected
  sdk/client/client.go
Labels: enhancement, release-once-merged

#937 Auto PR: Regenerating the Go SDK (122d2efa2a1c2b0d1b95fd3a0b577a9d27f88adb)
  resource-manager/operationalinsights/2020-08-01/clusters/README.md
  resource-manager/operationalinsights/2020-08-01/clusters/method_update.go
Labels: release-once-merged

#938 Auto PR: Regenerating the Go SDK (ac1f78c86b785a94492f91def6615934626d4a9f)
  resource-manager/datafactory/2018-06-01/credentials/model_managedidentitycredential.go
  resource-manager/datafactory/2018-06-01/credentials/model_systemassignedmanagedidentitycredential.go
  resource-manager/datafactory/2018-06-01/credentials/model_userassignedmanagedidentitycredential.go
Labels: release-once-merged

#940 Auto PR: Regenerating the Go SDK (ec0083f539696d6b9a2b4f07210b8847aa4b73e2)
  resource-manager/containerinstance/2023-05-01/client.go
  resource-manager/containerinstance/2023-05-01/containerinstance/client.go
  resource-manager/containerinstance/2023-05-01/containerinstance/constants.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupscreateorupdate.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupscreateorupdate_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsdelete.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsdelete_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsget.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsget_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsgetoutboundnetworkdependenciesendpoints.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsgetoutboundnetworkdependenciesendpoints_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupslist.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupslist_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupslistbyresourcegroup.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupslistbyresourcegroup_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsrestart.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsrestart_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsstart.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsstart_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsstop.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsstop_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsupdate.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containergroupsupdate_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containersattach.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containersattach_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containersexecutecommand.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containersexecutecommand_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containerslistlogs.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_containerslistlogs_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_locationlistcachedimages.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_locationlistcachedimages_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_locationlistcapabilities.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_locationlistcapabilities_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_locationlistusage.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_locationlistusage_autorest.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_subnetserviceassociationlinkdelete.go
  resource-manager/containerinstance/2023-05-01/containerinstance/method_subnetserviceassociationlinkdelete_autorest.go
Labels: release-once-merged

#943 `sdk/client/resourcemanager`: supporting`Pending` as an undocumented polling status
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged

#944 Auto PR: Regenerating the Go SDK (e4c94dfccfa8c2fc9ef969feff88e01ae05bba59)
  resource-manager/consumption/2023-11-01/reservationrecommendations/model_legacysharedscopereservationrecommendationproperties.go
  resource-manager/consumption/2023-11-01/reservationrecommendations/model_legacysinglescopereservationrecommendationproperties.go
  resource-manager/consumption/2023-11-01/reservationrecommendations/model_modernsharedscopereservationrecommendationproperties.go
  resource-manager/consumption/2023-11-01/reservationrecommendations/model_modernsinglescopereservationrecommendationproperties.go
Labels: release-once-merged

#910 auth: omit tenant argument when acquiring tokens when authenticated using a managed identity
  sdk/auth/azure_cli_authorizer.go
  sdk/internal/azurecli/azcli.go
Labels: bug, release-once-merged, authentication

#945 Extend retryablehttp limits in SDK base client
  sdk/client/client.go
Labels: enhancement, release-once-merged, base-layer
