Repository hashicorp/go-azure-sdk, pull requests merged in 2024-06, with the labels that each got.

#1011 Auto PR: Regenerating the Go SDK (7b6c20f99948e4ec5f39bbd958a0f6d6b3df6e8c)
  resource-manager/storage/2023-05-01/blobcontainers/model_blobcontainer.go
  resource-manager/storage/2023-05-01/blobcontainers/model_immutabilitypolicy.go
  resource-manager/storage/2023-05-01/blobcontainers/model_listcontaineritem.go
  resource-manager/storage/2023-05-01/blobservice/model_blobserviceproperties.go
  resource-manager/storage/2023-05-01/deletedaccounts/model_deletedaccount.go
  resource-manager/storage/2023-05-01/encryptionscopes/model_encryptionscope.go
  resource-manager/storage/2023-05-01/fileservice/model_fileserviceproperties.go
  resource-manager/storage/2023-05-01/fileshares/model_fileshare.go
  resource-manager/storage/2023-05-01/fileshares/model_fileshareitem.go
  resource-manager/storage/2023-05-01/managementpolicies/model_managementpolicy.go
  resource-manager/storage/2023-05-01/objectreplicationpolicies/model_objectreplicationpolicy.go
  resource-manager/storage/2023-05-01/privateendpointconnections/model_privateendpointconnection.go
  resource-manager/storage/2023-05-01/privatelinkresources/model_privatelinkresource.go
  resource-manager/storage/2023-05-01/queueservice/model_listqueue.go
  resource-manager/storage/2023-05-01/queueservice/model_storagequeue.go
  resource-manager/storage/2023-05-01/queueserviceproperties/model_queueserviceproperties.go
  resource-manager/storage/2023-05-01/storageaccounts/model_privateendpointconnection.go
  resource-manager/storage/2023-05-01/storageaccounts/model_storageaccount.go
  resource-manager/storage/2023-05-01/storagetaskassignments/method_list.go
  resource-manager/storage/2023-05-01/storagetaskassignments/model_executiontarget.go
  resource-manager/storage/2023-05-01/storagetaskassignments/model_executiontargetupdate.go
  resource-manager/storage/2023-05-01/storagetaskassignments/model_storagetaskassignment.go
  resource-manager/storage/2023-05-01/storagetaskassignments/model_storagetaskassignmentexecutioncontext.go
  resource-manager/storage/2023-05-01/storagetaskassignments/model_storagetaskassignmentupdateexecutioncontext.go
  resource-manager/storage/2023-05-01/storagetaskassignments/model_storagetaskreportinstance.go
  resource-manager/storage/2023-05-01/tableservice/model_table.go
  resource-manager/storage/2023-05-01/tableserviceproperties/model_tableserviceproperties.go
Labels: release-once-merged

#1008 auth: support subscription hint for Azure CLI, to help with multiple signed-in accounts with segregated access
  sdk/auth/auth.go
  sdk/auth/auth_test.go
  sdk/auth/azure_cli_authorizer.go
  sdk/auth/azure_cli_authorizer_test.go
  sdk/auth/config.go
  sdk/environments/interfaces.go
  sdk/internal/azurecli/azcli.go
  sdk/internal/test/environment_variables.go
Labels: enhancement, release-once-merged, authentication

#1014 Auto PR: Regenerating the Go SDK (91944828a141f3be452597b436e970fac2879803)
  resource-manager/datafactory/2018-06-01/pipelines/model_continuationsettingsreference.go
  resource-manager/datafactory/2018-06-01/pipelines/model_executedataflowactivitytypeproperties.go
  resource-manager/datafactory/2018-06-01/pipelines/model_executepowerqueryactivitytypeproperties.go
  resource-manager/machinelearningservices/2024-04-01/v2workspaceconnectionresource/model_accountkeyauthtypeworkspaceconnectionproperties.go
  resource-manager/machinelearningservices/2024-04-01/v2workspaceconnectionresource/model_workspaceconnectionaccountkey.go
  resource-manager/netapp/2023-11-01/volumes/model_volumepatchproperties.go
  resource-manager/resourcegraph/2022-10-01/client.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/README.md
  resource-manager/resourcegraph/2022-10-01/graphqueries/client.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/constants.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/id_query.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/id_query_test.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/method_graphqueryupdate.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/model_graphqueryproperties.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/model_graphquerypropertiesupdateparameters.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/model_graphqueryresource.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/model_graphqueryupdateparameters.go
  resource-manager/resourcegraph/2022-10-01/graphqueries/version.go
  resource-manager/resourcegraph/2022-10-01/graphquery/README.md
  resource-manager/resourcegraph/2022-10-01/graphquery/client.go
  resource-manager/resourcegraph/2022-10-01/graphquery/constants.go
  resource-manager/resourcegraph/2022-10-01/graphquery/id_query.go
  resource-manager/resourcegraph/2022-10-01/graphquery/id_query_test.go
  resource-manager/resourcegraph/2022-10-01/graphquery/method_createorupdate.go
  resource-manager/resourcegraph/2022-10-01/graphquery/method_delete.go
  resource-manager/resourcegraph/2022-10-01/graphquery/method_get.go
  resource-manager/resourcegraph/2022-10-01/graphquery/method_list.go
  resource-manager/resourcegraph/2022-10-01/graphquery/method_listbysubscription.go
  resource-manager/resourcegraph/2022-10-01/graphquery/model_graphqueryproperties.go
  resource-manager/resourcegraph/2022-10-01/graphquery/model_graphqueryresource.go
  resource-manager/resourcegraph/2022-10-01/graphquery/predicates.go
  resource-manager/resourcegraph/2022-10-01/graphquery/version.go
Labels: release-once-merged

#1016 Auto PR: Regenerating the Go SDK (f2bf062baab69e612582e43d3fe6a745b7891e20)
  resource-manager/datafactory/2018-06-01/linkedservices/constants.go
  resource-manager/datafactory/2018-06-01/linkedservices/model_sqlserverlinkedservicetypeproperties.go
Labels: release-once-merged

#1018 Auto PR: Regenerating the Go SDK (50720cfb8ea3add9f864f72ef7162ee26d2b8a9b)
  resource-manager/datafactory/2018-06-01/pipelines/model_snowflakeexportcopycommand.go
  resource-manager/datafactory/2018-06-01/pipelines/model_snowflakeimportcopycommand.go
  resource-manager/resources/2024-04-01/policyassignments/model_policyassignmentproperties.go
Labels: release-once-merged

#1020 Auto PR: Regenerating the Go SDK (d1b9f78814f4ab50cae53b249a01c326f912383f)
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/availabilitysets/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/availabilitysets/model_availabilitysetproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/clouds/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/clouds/model_cloudproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/guestagents/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/guestagents/model_guestagentproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/inventoryitems/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/inventoryitems/model_cloudinventoryitem.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/inventoryitems/model_virtualmachineinventoryitem.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/inventoryitems/model_virtualmachinetemplateinventoryitem.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/inventoryitems/model_virtualnetworkinventoryitem.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/virtualmachineinstances/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/virtualmachineinstances/model_virtualmachineinstanceproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/virtualmachinetemplates/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/virtualmachinetemplates/model_virtualmachinetemplateproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/virtualnetworks/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/virtualnetworks/model_virtualnetworkproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/vminstancehybrididentitymetadatas/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/vminstancehybrididentitymetadatas/model_vminstancehybrididentitymetadataproperties.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/vmmservers/constants.go
  resource-manager/systemcentervirtualmachinemanager/2023-10-07/vmmservers/model_vmmserverproperties.go
Labels: release-once-merged

#1029 Auto PR: Regenerating the Go SDK (ea59b74febac37d05436db67a95e94fb7f5d02b0)
  resource-manager/network/2024-01-01/azurefirewalls/model_firewallpacketcaptureparameters.go
  resource-manager/network/2024-01-01/azurefirewalls/model_firewallpacketcaptureparametersformat.go
Labels: release-once-merged

#1030 add new constant for Azure App Access Panel
  sdk/environments/application_ids.go
  sdk/environments/constants.go
Labels: base-layer

#1033 Auto PR: Regenerating the Go SDK (cb785b9a203449dbb5f5e9fdd19f27048bf21a65)
  resource-manager/storage/2023-05-01/storagetaskassignments/method_instancesreportlist.go
  resource-manager/storage/2023-05-01/storagetaskassignments/method_list.go
  resource-manager/storage/2023-05-01/storagetaskassignments/method_storagetaskassignmentinstancesreportlist.go
Labels: release-once-merged

#1036 Auto PR: Regenerating the Go SDK (3ee022be96e6967c237ab7e22fdc0a538eb5c92d)
  resource-manager/subscription/2021-10-01/subscriptions/README.md
  resource-manager/subscription/2021-10-01/subscriptions/method_subscriptioncancel_autorest.go
Labels: release-once-merged
