Repository hashicorp/go-azure-sdk, pull requests merged in 2024-04, with the labels that each got.

#952 Auto PR: Regenerating the Go SDK (b04942597642d266d9e83718967cb510c6129222)
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/constants.go
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/model_actiongroup.go
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/model_actionruleproperties.go
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/model_diagnostics.go
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/model_suppression.go
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/model_suppressionconfig.go
  resource-manager/alertsmanagement/2019-05-05-preview/actionrules/model_suppressionschedule.go
  resource-manager/datafactory/2018-06-01/dataflowdebugsession/constants.go
  resource-manager/datafactory/2018-06-01/dataflows/model_powerquerysink.go
  resource-manager/datafactory/2018-06-01/pipelines/model_dataflowsink.go
  resource-manager/datamigration/2021-06-30/commons/model_mongodbconnectioninfo.go
Labels: release-once-merged

#953 Auto PR: Regenerating the Go SDK (accca40c1a30e371abf9f7a2f72c07bead717432)
  resource-manager/loadtestservice/2022-12-01/client.go
  resource-manager/loadtestservice/2022-12-01/loadtest/README.md
  resource-manager/loadtestservice/2022-12-01/loadtest/client.go
  resource-manager/loadtestservice/2022-12-01/loadtest/id_loadtest.go
  resource-manager/loadtestservice/2022-12-01/loadtest/id_loadtest_test.go
  resource-manager/loadtestservice/2022-12-01/loadtest/predicates.go
  resource-manager/loadtestservice/2022-12-01/loadtest/version.go
  resource-manager/loadtestservice/2022-12-01/loadtests/README.md
  resource-manager/loadtestservice/2022-12-01/loadtests/method_delete.go
  resource-manager/loadtestservice/2022-12-01/loadtests/method_listoutboundnetworkdependenciesendpoints.go
  resource-manager/loadtestservice/2022-12-01/loadtests/method_update.go
  resource-manager/loadtestservice/2022-12-01/loadtests/model_endpointdependency.go
  resource-manager/loadtestservice/2022-12-01/loadtests/model_endpointdetail.go
  resource-manager/loadtestservice/2022-12-01/loadtests/model_loadtestresourcepatchrequestbody.go
  resource-manager/loadtestservice/2022-12-01/loadtests/model_loadtestresourceupdate.go
  resource-manager/loadtestservice/2022-12-01/loadtests/model_loadtestresourceupdateproperties.go
  resource-manager/loadtestservice/2022-12-01/loadtests/model_outboundenvironmentendpoint.go
  resource-manager/loadtestservice/2022-12-01/loadtests/predicates.go
  resource-manager/loadtestservice/2022-12-01/quotas/model_checkquotaavailabilityresponse.go
  resource-manager/loadtestservice/2022-12-01/quotas/model_quotabucketrequest.go
Labels: release-once-merged

#959 `sdk/client/resourcemanager` - create poller with status code 200 in response
  sdk/client/resourcemanager/poller.go
  sdk/client/resourcemanager/poller_test.go
Labels: release-once-merged, update-azurerm-after-release

#960 Metadata fixes
  sdk/environments/azure_china.go
  sdk/environments/azure_gov.go
  sdk/environments/azure_public.go
  sdk/environments/azure_public_canary.go
  sdk/environments/endpoint_refresh.go
  sdk/environments/environment.go
  sdk/environments/from_endpoint.go
  sdk/environments/from_endpoint_test.go
  sdk/environments/helpers.go
  sdk/environments/interfaces.go
  sdk/internal/metadata/client.go
  sdk/internal/metadata/client_test.go
  sdk/internal/metadata/models.go
Labels: bug, release-once-merged, base-layer, authentication

#964 Auto PR: Regenerating the Go SDK (7861ea0515e6dac3dfab9860c53eee0932fd392f)
  resource-manager/resources/2024-04-01/client.go
  resource-manager/resources/2024-04-01/policyassignments/README.md
  resource-manager/resources/2024-04-01/policyassignments/client.go
  resource-manager/resources/2024-04-01/policyassignments/constants.go
  resource-manager/resources/2024-04-01/policyassignments/id_policyassignmentid.go
  resource-manager/resources/2024-04-01/policyassignments/id_policyassignmentid_test.go
  resource-manager/resources/2024-04-01/policyassignments/id_scopedpolicyassignment.go
  resource-manager/resources/2024-04-01/policyassignments/id_scopedpolicyassignment_test.go
  resource-manager/resources/2024-04-01/policyassignments/method_create.go
  resource-manager/resources/2024-04-01/policyassignments/method_createbyid.go
  resource-manager/resources/2024-04-01/policyassignments/method_delete.go
  resource-manager/resources/2024-04-01/policyassignments/method_deletebyid.go
  resource-manager/resources/2024-04-01/policyassignments/method_get.go
  resource-manager/resources/2024-04-01/policyassignments/method_getbyid.go
  resource-manager/resources/2024-04-01/policyassignments/method_list.go
  resource-manager/resources/2024-04-01/policyassignments/method_listformanagementgroup.go
  resource-manager/resources/2024-04-01/policyassignments/method_listforresource.go
  resource-manager/resources/2024-04-01/policyassignments/method_listforresourcegroup.go
  resource-manager/resources/2024-04-01/policyassignments/method_update.go
  resource-manager/resources/2024-04-01/policyassignments/method_updatebyid.go
  resource-manager/resources/2024-04-01/policyassignments/model_noncompliancemessage.go
  resource-manager/resources/2024-04-01/policyassignments/model_override.go
  resource-manager/resources/2024-04-01/policyassignments/model_parametervaluesvalue.go
  resource-manager/resources/2024-04-01/policyassignments/model_policyassignment.go
  resource-manager/resources/2024-04-01/policyassignments/model_policyassignmentproperties.go
  resource-manager/resources/2024-04-01/policyassignments/model_policyassignmentupdate.go
  resource-manager/resources/2024-04-01/policyassignments/model_policyassignmentupdateproperties.go
  resource-manager/resources/2024-04-01/policyassignments/model_resourceselector.go
  resource-manager/resources/2024-04-01/policyassignments/model_selector.go
  resource-manager/resources/2024-04-01/policyassignments/predicates.go
  resource-manager/resources/2024-04-01/policyassignments/version.go
Labels: release-once-merged

#970 sdk/client: conditionally return the error when the resp is nil whilst retrying the request
  sdk/client/client.go
Labels: bug, release-once-merged, base-layer

#969 feat: custom response error parsing
  sdk/client/client.go
  sdk/client/dataplane/storage/client.go
  sdk/client/dataplane/storage/errors.go
  sdk/client/interface.go
Labels: enhancement, release-once-merged, base-layer/errors

#977 Auto PR: Regenerating the Go SDK (0e5fb009e473d6498dcdd11c090f01030247e925)
  resource-manager/loadtestservice/2022-12-01/loadtests/model_loadtestproperties.go
Labels: release-once-merged

#979 poller_lro: add `streamanalytics` cluster creation custom poller statuses
  sdk/client/resourcemanager/poller.go
  sdk/client/resourcemanager/poller_lro.go
Labels: release-once-merged
