Repository hashicorp/go-azure-sdk, pull requests merged in 2024-07, with the labels that each got.

#1040 Auto PR: Regenerating the Go SDK (7d7dd2f96a84cbc69314ed6689b09be4e2435c92)
  resource-manager/managementgroups/2020-05-01/managementgroups/README.md
  resource-manager/managementgroups/2020-05-01/managementgroups/method_subscriptionscreate.go
  resource-manager/managementgroups/2020-05-01/managementgroups/method_subscriptionsdelete.go
  resource-manager/managementgroups/2020-05-01/managementgroups/method_subscriptionsgetsubscription.go
  resource-manager/managementgroups/2020-05-01/managementgroups/method_subscriptionsgetsubscriptionsundermanagementgroup.go
  resource-manager/managementgroups/2020-05-01/managementgroups/method_ubscriptionsgetsubscriptionsundermanagementgroup.go
  resource-manager/managementgroups/2021-04-01/managementgroups/README.md
  resource-manager/managementgroups/2021-04-01/managementgroups/method_subscriptionscreate.go
  resource-manager/managementgroups/2021-04-01/managementgroups/method_subscriptionsdelete.go
  resource-manager/managementgroups/2021-04-01/managementgroups/method_subscriptionsgetsubscription.go
  resource-manager/managementgroups/2021-04-01/managementgroups/method_subscriptionsgetsubscriptionsundermanagementgroup.go
  resource-manager/managementgroups/2021-04-01/managementgroups/method_ubscriptionsgetsubscriptionsundermanagementgroup.go
  resource-manager/managementgroups/2023-04-01/managementgroups/README.md
  resource-manager/managementgroups/2023-04-01/managementgroups/method_subscriptionscreate.go
  resource-manager/managementgroups/2023-04-01/managementgroups/method_subscriptionsdelete.go
  resource-manager/managementgroups/2023-04-01/managementgroups/method_subscriptionsgetsubscription.go
  resource-manager/managementgroups/2023-04-01/managementgroups/method_subscriptionsgetsubscriptionsundermanagementgroup.go
  resource-manager/managementgroups/2023-04-01/managementgroups/method_ubscriptionsgetsubscriptionsundermanagementgroup.go
Labels: release-once-merged

#1043 Auto PR: Regenerating the Go SDK (9a87ed395158b24f3c68dc2ebe42a443382347b1)
  resource-manager/qumulostorage/2024-06-19/client.go
  resource-manager/qumulostorage/2024-06-19/filesystems/README.md
  resource-manager/qumulostorage/2024-06-19/filesystems/client.go
  resource-manager/qumulostorage/2024-06-19/filesystems/constants.go
  resource-manager/qumulostorage/2024-06-19/filesystems/id_filesystem.go
  resource-manager/qumulostorage/2024-06-19/filesystems/id_filesystem_test.go
  resource-manager/qumulostorage/2024-06-19/filesystems/method_createorupdate.go
  resource-manager/qumulostorage/2024-06-19/filesystems/method_delete.go
  resource-manager/qumulostorage/2024-06-19/filesystems/method_get.go
  resource-manager/qumulostorage/2024-06-19/filesystems/method_listbyresourcegroup.go
  resource-manager/qumulostorage/2024-06-19/filesystems/method_listbysubscription.go
  resource-manager/qumulostorage/2024-06-19/filesystems/method_update.go
  resource-manager/qumulostorage/2024-06-19/filesystems/model_liftrbasemarketplacedetails.go
  resource-manager/qumulostorage/2024-06-19/filesystems/model_liftrbasestoragefilesystemresource.go
  resource-manager/qumulostorage/2024-06-19/filesystems/model_liftrbasestoragefilesystemresourceproperties.go
  resource-manager/qumulostorage/2024-06-19/filesystems/model_liftrbasestoragefilesystemresourceupdate.go
  resource-manager/qumulostorage/2024-06-19/filesystems/model_liftrbasestoragefilesystemresourceupdateproperties.go
  resource-manager/qumulostorage/2024-06-19/filesystems/model_liftrbaseuserdetails.go
  resource-manager/qumulostorage/2024-06-19/filesystems/predicates.go
  resource-manager/qumulostorage/2024-06-19/filesystems/version.go
Labels: release-once-merged

#1044 Auto PR: Regenerating the Go SDK (b704533792944705b375cdf205bd1cd3e69de92f)
  resource-manager/privatedns/2024-06-01/client.go
  resource-manager/privatedns/2024-06-01/privatezones/README.md
  resource-manager/privatedns/2024-06-01/privatezones/client.go
  resource-manager/privatedns/2024-06-01/privatezones/constants.go
  resource-manager/privatedns/2024-06-01/privatezones/id_privatednszone.go
  resource-manager/privatedns/2024-06-01/privatezones/id_privatednszone_test.go
  resource-manager/privatedns/2024-06-01/privatezones/method_createorupdate.go
  resource-manager/privatedns/2024-06-01/privatezones/method_delete.go
  resource-manager/privatedns/2024-06-01/privatezones/method_get.go
  resource-manager/privatedns/2024-06-01/privatezones/method_list.go
  resource-manager/privatedns/2024-06-01/privatezones/method_listbyresourcegroup.go
  resource-manager/privatedns/2024-06-01/privatezones/method_update.go
  resource-manager/privatedns/2024-06-01/privatezones/model_privatezone.go
  resource-manager/privatedns/2024-06-01/privatezones/model_privatezoneproperties.go
  resource-manager/privatedns/2024-06-01/privatezones/predicates.go
  resource-manager/privatedns/2024-06-01/privatezones/version.go
  resource-manager/privatedns/2024-06-01/recordsets/README.md
  resource-manager/privatedns/2024-06-01/recordsets/client.go
  resource-manager/privatedns/2024-06-01/recordsets/constants.go
  resource-manager/privatedns/2024-06-01/recordsets/id_privatednszone.go
  resource-manager/privatedns/2024-06-01/recordsets/id_privatednszone_test.go
  resource-manager/privatedns/2024-06-01/recordsets/id_privatezone.go
  resource-manager/privatedns/2024-06-01/recordsets/id_privatezone_test.go
  resource-manager/privatedns/2024-06-01/recordsets/id_recordtype.go
  resource-manager/privatedns/2024-06-01/recordsets/id_recordtype_test.go
  resource-manager/privatedns/2024-06-01/recordsets/method_createorupdate.go
  resource-manager/privatedns/2024-06-01/recordsets/method_delete.go
  resource-manager/privatedns/2024-06-01/recordsets/method_get.go
  resource-manager/privatedns/2024-06-01/recordsets/method_list.go
  resource-manager/privatedns/2024-06-01/recordsets/method_listbytype.go
  resource-manager/privatedns/2024-06-01/recordsets/method_update.go
  resource-manager/privatedns/2024-06-01/recordsets/model_aaaarecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_arecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_cnamerecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_mxrecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_ptrrecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_recordset.go
  resource-manager/privatedns/2024-06-01/recordsets/model_recordsetproperties.go
  resource-manager/privatedns/2024-06-01/recordsets/model_soarecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_srvrecord.go
  resource-manager/privatedns/2024-06-01/recordsets/model_txtrecord.go
  resource-manager/privatedns/2024-06-01/recordsets/predicates.go
  resource-manager/privatedns/2024-06-01/recordsets/version.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/README.md
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/client.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/constants.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/id_privatednszone.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/id_privatednszone_test.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/id_virtualnetworklink.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/id_virtualnetworklink_test.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/method_createorupdate.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/method_delete.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/method_get.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/method_list.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/method_update.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/model_subresource.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/model_virtualnetworklink.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/model_virtualnetworklinkproperties.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/predicates.go
  resource-manager/privatedns/2024-06-01/virtualnetworklinks/version.go
Labels: release-once-merged

#1046 Fix Missing AppId that I missed earlier, and add MicrosoftIntune 0000…
  sdk/environments/application_ids.go
  sdk/environments/constants.go
Labels: release-once-merged, base-layer

#1010 `sdk/client/resourcemanager`: updating the `LRO` poller to treat a 404 as `InProgress` / tests covering the `LRO`/`ProvisioningState` polling scenarios
  sdk/client/resourcemanager/poller_helpers_test.go
  sdk/client/resourcemanager/poller_lro.go
  sdk/client/resourcemanager/poller_lro_helpers_test.go
  sdk/client/resourcemanager/poller_lro_test.go
  sdk/client/resourcemanager/poller_provisioning_state.go
  sdk/client/resourcemanager/poller_provisioning_state_helpers_test.go
  sdk/client/resourcemanager/poller_provisioning_state_test.go
Labels: enhancement, release-once-merged, base-layer/polling
